nodered/flows.json
[
    {
        "id": "d0f6a9202ee4b311",
        "type": "tab",
        "label": "WaterLevel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f19b2ec915c96494",
        "type": "tab",
        "label": "email",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0c190d7037e7502d",
        "type": "tab",
        "label": "dashboard2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "077daf9d5d85158b",
        "type": "tab",
        "label": "rainfall",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a41a4b68706a5772",
        "type": "tab",
        "label": "node_red_error_detect",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a5e148b0b1d595a",
        "type": "tab",
        "label": "lost_contact",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a56f4571d3757067",
        "type": "tab",
        "label": "water_level_high",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56359d0a5bd21be2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a47e84d8fba6bf7c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6d23db44.1697d4",
        "type": "ui_tab",
        "name": "Main Tab",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "0d7457c6cd724c57",
        "type": "ui_group",
        "name": "Default",
        "tab": "56359d0a5bd21be2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Water Level Monitoring",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dashboardTab",
        "type": "ui_tab",
        "name": "Water Level Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "waterLevelGroup",
        "type": "ui_group",
        "name": "Water Level Monitoring",
        "tab": "dashboardTab",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d2055bfaa1fe649",
        "type": "MySQLdatabase",
        "name": "WaterLevelMonitoringSystem",
        "host": "172.20.1.5",
        "port": "3306",
        "db": "WaterLevelMonitoringSystem",
        "tz": "${TZ}",
        "charset": "utf8mb4"
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "水位監控",
        "icon": "fa fa-water",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "58d4dc542db8dda0",
        "type": "ui_group",
        "name": "AI 智能排水分析",
        "tab": "dashboardTab",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3da9273a83daaaca",
        "type": "ui_group",
        "name": "Chart",
        "tab": "dashboardTab",
        "order": 2,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f8cb46a742fb8183",
        "type": "ui_group",
        "name": "Highest Water Level Date",
        "tab": "dashboardTab",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45b15a5dbe0f2d2c",
        "type": "ui_group",
        "name": "AI Analytics",
        "tab": "dashboardTab",
        "order": 3,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3af1b04476aadf72",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-mysql": "3.0.0",
            "node-red-node-email": "5.2.1"
        }
    },
    {
        "id": "cfdc818b601164a4",
        "type": "tls-config",
        "name": "",
        "cert": "/data/certs/client-cert.pem",
        "key": "/data/certs/client-key.pem",
        "ca": "/data/certs/ca-cert.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "${DOMAIN_NAME}",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "07c507bb9a2f64b1",
        "type": "mqtt-broker",
        "name": "Node-Red-VTC01",
        "broker": "172.20.1.6",
        "port": "8883",
        "tls": "cfdc818b601164a4",
        "clientid": "Node-Red-VTC01",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc3663a0f05018aa",
        "type": "ui_spacer",
        "z": "0c190d7037e7502d",
        "name": "spacer",
        "group": "waterLevelGroup",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e4bc11c19ddebeae",
        "type": "ui_spacer",
        "z": "0c190d7037e7502d",
        "name": "spacer",
        "group": "waterLevelGroup",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c9257861e0315af9",
        "type": "mqtt in",
        "z": "d0f6a9202ee4b311",
        "name": "LoRaGateway/TY01/water_status",
        "topic": "LoRaGateway/TY01/water_status",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "07c507bb9a2f64b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "705ccc1216c73f47"
            ]
        ]
    },
    {
        "id": "eb54b90716f8d63d",
        "type": "debug",
        "z": "d0f6a9202ee4b311",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "1e2ed01536c5fd1e",
        "type": "function",
        "z": "d0f6a9202ee4b311",
        "name": "Format Data for Database",
        "func": "msg.payload = msg.payload || {};\n\n// Basic fields\nmsg.site_name = msg.mqtt.payload.location;\nmsg.node_id = msg.mqtt.payload.id;\n\nconst receiverID = Number(msg.mqtt.payload.receiverID);\nconst sendTime = new Date(msg.mqtt.payload.sendTime).getTime();\n\n// ----- Receiver selection logic -----\nconst receiverTimeoutMs = 15 * 1000;\nlet processMessage = false;\n\n// last time we accepted Receiver 1 (stored in Node-RED context)\nconst lastR1 = context.get(\"lastReceiver1Time\") || 0;\n\nif (receiverID === 1) {\n    // Always accept Receiver 1 and update last time\n    processMessage = true;\n    context.set(\"lastReceiver1Time\", sendTime);\n} else if (receiverID === 2) {\n    // Accept Receiver 2 only if Receiver 1 has been silent for >= 15s\n    if (!lastR1 || (sendTime - lastR1) >= receiverTimeoutMs) {\n        processMessage = true;\n    } else {\n        return null; // ignore Receiver 2 because Receiver 1 is still recent\n    }\n} else {\n    return null; // unknown receiver\n}\n\n// ----- Time formatting (HKT UTC+8) -----\nlet timeZoneOffset = 8; // Hong Kong Time (HKT)\nlet localTime = new Date(sendTime + timeZoneOffset * 3600 * 1000);\nlet formattedTime = localTime.toISOString().replace(\"T\", \" \").slice(0, 19);\n\n// Only construct the SQL query if the message should be processed\nif (processMessage) {\n    let id = parseInt(msg.mqtt.payload.id, 10) || 1;\n    let waterlevel = parseFloat(msg.mqtt.payload.waterlevel) || 0.0;\n    let statusMap = { green: \"GREEN\", yellow: \"YELLOW\", red: \"RED\" };\n    let waterlevel_status = statusMap[msg.mqtt.payload.waterlevel_status] || \"RED\";\n\n    // Construct the SQL query with formatted datetime\n    let sql =\n        \"INSERT INTO WaterLevelLogs (node_id, recorded_at, water_level, water_level_status) VALUES (?, ?, ?, ?)\";\n    msg.topic = sql;\n    msg.payload = [id, formattedTime, waterlevel, waterlevel_status];\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "72ac199d2809cc20",
                "560fec4ccdf7ea7e",
                "748dccaed33cbfd3"
            ]
        ]
    },
    {
        "id": "8747e6821e4564a7",
        "type": "mqtt in",
        "z": "d0f6a9202ee4b311",
        "name": "LoRaGateway/TY02/water_status",
        "topic": "LoRaGateway/TY02/water_status",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "07c507bb9a2f64b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "705ccc1216c73f47"
            ]
        ]
    },
    {
        "id": "72ac199d2809cc20",
        "type": "mysql",
        "z": "d0f6a9202ee4b311",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 1330,
        "y": 520,
        "wires": [
            [
                "1c14a21fca4906d2",
                "3cfce45715fe22ef",
                "37ef454b4c454559"
            ]
        ]
    },
    {
        "id": "1c14a21fca4906d2",
        "type": "function",
        "z": "d0f6a9202ee4b311",
        "name": "Update_sender",
        "func": "// Node-RED function node to format data including correct timezone handling\nmsg.payload = msg.payload || {};\n//Check SQL done or Not\nif((msg.payload.affectedRows == 1)){\n// Get the time and adjust for the time zone (e.g., UTC+8 for Hong Kong)\nlet timeZoneOffset = 8; // Hong Kong Time (HKT) UTC+8\nvar sendTime = new Date(msg.mqtt.payload.sendTime).getTime();\nlet localTime = new Date(sendTime + timeZoneOffset * 3600 * 1000);\n// Format the local time to MySQL compatible format (YYYY-MM-DD HH:MM:SS)\nlet formattedTime = localTime.toISOString().replace('T', ' ').slice(0, 19);\n// Only construct the SQL query if the message should be processed\n    \n    let id = msg.mqtt.payload.id;\n    // Construct the SQL query with formatted datetime\n    let sql = `UPDATE NodeInfo SET last_update = ? WHERE node_id =?`;\n    msg.topic = sql;\n    msg.payload = [formattedTime,id];\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 520,
        "wires": [
            [
                "31ab323787338e48"
            ]
        ]
    },
    {
        "id": "3cfce45715fe22ef",
        "type": "function",
        "z": "d0f6a9202ee4b311",
        "name": "Update_receiver",
        "func": "// Node-RED function node to format data including correct timezone handling\nmsg.payload = msg.payload || {};\n//Check SQL done or Not\nif((msg.payload.affectedRows == 1)){\n    // Get the time and adjust for the time zone (e.g., UTC+8 for Hong Kong)\n    let timeZoneOffset = 8; // Hong Kong Time (HKT) UTC+8\n    var sendTime = new Date(msg.mqtt.payload.sendTime).getTime();\n    let localTime = new Date(sendTime + timeZoneOffset * 3600 * 1000);\n    // Format the local time to MySQL compatible format (YYYY-MM-DD HH:MM:SS)\n    let formattedTime = localTime.toISOString().replace('T', ' ').slice(0, 19);\n    // Only construct the SQL query if the message should be processed\n    let id = parseInt(msg.mqtt.payload.receiverID, 10) || 1;\n    // Construct the SQL query with formatted datetime\n    let sql = `UPDATE NodeInfo SET last_update = ? WHERE node_id =?`;\n    msg.topic = sql;\n    msg.payload = [formattedTime,id];\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 580,
        "wires": [
            [
                "4a5a57390a9c3e71"
            ]
        ]
    },
    {
        "id": "37ef454b4c454559",
        "type": "debug",
        "z": "d0f6a9202ee4b311",
        "name": "sender",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 420,
        "wires": []
    },
    {
        "id": "f20b540225c34eed",
        "type": "debug",
        "z": "d0f6a9202ee4b311",
        "name": "receiver",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1900,
        "y": 580,
        "wires": []
    },
    {
        "id": "31ab323787338e48",
        "type": "mysql",
        "z": "d0f6a9202ee4b311",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 1730,
        "y": 520,
        "wires": [
            [
                "37ef454b4c454559"
            ]
        ]
    },
    {
        "id": "705ccc1216c73f47",
        "type": "function",
        "z": "d0f6a9202ee4b311",
        "name": "SELECT last_update AND status",
        "func": "\nmsg.mqtt = msg.mqtt || {};\nmsg.mqtt.payload = msg.payload;\n\nlet node_id = msg.payload.id;\n\n\nmsg.topic = \"SELECT last_update,status FROM NodeInfo WHERE node_id = ? \";\nmsg.payload = [node_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "a446748599d58ff1"
            ]
        ]
    },
    {
        "id": "a446748599d58ff1",
        "type": "mysql",
        "z": "d0f6a9202ee4b311",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 750,
        "y": 580,
        "wires": [
            [
                "1e2ed01536c5fd1e",
                "eb54b90716f8d63d"
            ]
        ]
    },
    {
        "id": "560fec4ccdf7ea7e",
        "type": "debug",
        "z": "d0f6a9202ee4b311",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 700,
        "wires": []
    },
    {
        "id": "4a5a57390a9c3e71",
        "type": "mysql",
        "z": "d0f6a9202ee4b311",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 1710,
        "y": 580,
        "wires": [
            [
                "f20b540225c34eed"
            ]
        ]
    },
    {
        "id": "748dccaed33cbfd3",
        "type": "link out",
        "z": "d0f6a9202ee4b311",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "a7a2ed20339e95da"
        ],
        "x": 1215,
        "y": 420,
        "wires": []
    },
    {
        "id": "6f6f684b7482b82d",
        "type": "catch",
        "z": "d0f6a9202ee4b311",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 340,
        "y": 760,
        "wires": [
            [
                "5835410639f5b74b"
            ]
        ]
    },
    {
        "id": "5835410639f5b74b",
        "type": "link out",
        "z": "d0f6a9202ee4b311",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "25c89047a92dd57a"
        ],
        "x": 505,
        "y": 760,
        "wires": []
    },
    {
        "id": "e6ef5c4cb034087a",
        "type": "inject",
        "z": "d0f6a9202ee4b311",
        "name": "5 Min loop",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "b59591f64ff2a6ce"
            ]
        ]
    },
    {
        "id": "b59591f64ff2a6ce",
        "type": "function",
        "z": "d0f6a9202ee4b311",
        "name": "Node-red server update",
        "func": "msg.payload = {};\nmsg.payload.affectedRows = 1;\n\n// Initialize the objects first\nmsg.mqtt = {};           \nmsg.mqtt.payload = {};   \nmsg.mqtt.payload.id = 0; \n\nlet timeZoneOffset = 0; \n\n// 1. Safety Check: If the time is missing, use \"now\"\nlet rawTime = (msg.mqtt && msg.mqtt.payload && msg.mqtt.payload.sendTime)\n    ? msg.mqtt.payload.sendTime\n    : new Date().toISOString();\n\n// 2. Parse the time\nlet sendTime = new Date(rawTime).getTime();\n\n// 3. Double-check if the parsing resulted in a valid number\nif (isNaN(sendTime)) {\n    sendTime = new Date().getTime();\n}\n\n// 4. Perform the offset and format\nlet localTime = new Date(sendTime + timeZoneOffset * 3600 * 1000);\nlet formattedTime = localTime.toISOString().replace('T', ' ').slice(0, 19);\n\n// Add the formatted time to the msg so you can use it in your SQL\nmsg.formatted_time = formattedTime;\nmsg.mqtt.payload.sendTime = new Date().toISOString();\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 320,
        "wires": [
            [
                "1c14a21fca4906d2"
            ]
        ]
    },
    {
        "id": "23eaa2f003d8f91f",
        "type": "inject",
        "z": "d0f6a9202ee4b311",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "time_input",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "a4a2b1c626d0861e"
            ]
        ]
    },
    {
        "id": "a4a2b1c626d0861e",
        "type": "function",
        "z": "d0f6a9202ee4b311",
        "name": "Testing danger input",
        "func": "/*\nvar options = {\n    day: '2-digit',   \n    month: '2-digit',    \n    year: 'numeric',  \n    hour: '2-digit',   \n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,     \n    timeZone: 'Asia/Hong_Kong'\n};\n\nconst d = new Date();\nconst offset = 8;\nconst hkDate = new Date(d.getTime() + (offset * 60 * 60 * 1000));\nvar sendTime = hkDate.toISOString().replace('Z', '+08:00');\n\n*/\n// --- CONFIGURATION ---\nvar VAR_NAME = \"simulationTime\"; \n// Default start date if human hasn't input anything yet\nvar DEFAULT_START = \"2026-01-01 00:01:00\"; \nvar TARGET_TIMEZONE = \"Asia/Hong_Kong\";\n\n// --- LOGIC ---\n\n// 1. Get the last stored date from Global Variable\nvar storedDate = global.get(VAR_NAME);\n\n// Safety check: Use default if variable is empty\nif (!storedDate) {\n    storedDate = DEFAULT_START;\n}\n\n// 2. Convert string to Date Object\nvar dateObj = new Date(storedDate);\n\n// 3. Add 1 Day\n// We add 1 to the 'Date' portion of the timestamp\ndateObj.setDate(dateObj.getDate() + 1);\n\n// --- FORMATTING (HK Timezone + MariaDB) ---\n\n// We use 'sv-SE' (Sweden) locale because it naturally formats \n// dates as YYYY-MM-DD, which is close to SQL format.\nvar options = {\n    timeZone: TARGET_TIMEZONE,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false // Force 24-hour format\n};\n\n// Generate the parts in HK time\nvar formatter = new Intl.DateTimeFormat('sv-SE', options);\nvar parts = formatter.formatToParts(dateObj);\n\n// Helper function to extract parts cleanly\nfunction getPart(type) {\n    return parts.find(p => p.type === type).value;\n}\n\n// Reassemble into SQL format: YYYY-MM-DD HH:MM:SS\nvar hkTime = `${getPart('year')}-${getPart('month')}-${getPart('day')} ${getPart('hour')}:${getPart('minute')}:${getPart('second')}`;\n\n// --- OUTPUT ---\n\n// Update the global variable so the next run adds another day to THIS date\nglobal.set(VAR_NAME, hkTime);\n\n\nvar location = \"MK1\";\nvar waterlevel = \"50\";\nvar id = 3;\nvar waterlevel_status = \"red\";\nvar receiverID = 1;\n\n// --- SETTINGS ---\n// 1. Define your starting number here:\nvar DEFAULT_NUMBER = 50.00;\n\n// 2. Define the name of your global variable\nvar VAR_NAME = \"waterLevelSim\";\n\n// Get the current value from global context\nvar currentVal = global.get(VAR_NAME);\n\n// If this is the very first time running (value doesn't exist yet),\n// initialize it with your human defined number.\nif (currentVal === undefined) {\n    currentVal = DEFAULT_NUMBER;\n}\n\n// Generate a random change amount between 0.00 and 4.99\nvar changeAmount = Math.random() * 4.99;\n\n// Randomly decide whether to Add or Subtract\n// Math.random() >= 0.5 means true (Add), otherwise false (Subtract)\nvar isAdding = Math.random() >= 0.5;\n\nif (isAdding) {\n    currentVal += changeAmount;\n} else {\n    currentVal -= changeAmount;\n}\n\n// --- LIMITS (CLUMPING) ---\n// Ensure the value stays between 0.00 and 100.99\n\nif (currentVal > 100.99) {\n    currentVal = 100.99;\n}\nif (currentVal < 0.00) {\n    currentVal = 0.00;\n}\n\n\n// Save the new value back to global context for the next run\nglobal.set(VAR_NAME, currentVal);\nwaterlevel = currentVal;\n\n\nmsg.payload = {};\nmsg.payload['sendTime'] = {};\nmsg.payload.sendTime = hkTime;\nmsg.payload['location'] = {};\nmsg.payload.location = location;\nmsg.payload['waterlevel'] = {};\nmsg.payload.waterlevel = waterlevel;\nmsg.payload['id'] = {};\nmsg.payload.id = id;\nmsg.payload['waterlevel_status'] = {};\nmsg.payload.waterlevel_status = waterlevel_status;\nmsg.payload['receiverID'] = {};\nmsg.payload.receiverID = receiverID;\nmsg.differentTime = 16000;\nreturn msg;\n\n\n\n\n\n/*\nwater_data format\nString sendTime = \"2025-07-03 03:56:26.000000\";\nconst char *location = \"TY1\";\nString waterlevel = \"1\";\nconst char *id = \"1\";\nString waterlevel_status = \"1\";\n*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "bd6440bfed50d10e",
                "705ccc1216c73f47"
            ]
        ]
    },
    {
        "id": "bd6440bfed50d10e",
        "type": "debug",
        "z": "d0f6a9202ee4b311",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "790da3425a65dd06",
        "type": "inject",
        "z": "d0f6a9202ee4b311",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "time_input",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "c1f914abad484f18"
            ]
        ]
    },
    {
        "id": "c1f914abad484f18",
        "type": "function",
        "z": "d0f6a9202ee4b311",
        "name": "Testing warning input",
        "func": "/*\nvar options = {\n    day: '2-digit',   \n    month: '2-digit',    \n    year: 'numeric',  \n    hour: '2-digit',   \n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,     \n    timeZone: 'Asia/Hong_Kong'\n};\n\nconst d = new Date();\nconst offset = 8;\nconst hkDate = new Date(d.getTime() + (offset * 60 * 60 * 1000));\nvar sendTime = hkDate.toISOString().replace('Z', '+08:00');\n\n*/\n// --- CONFIGURATION ---\nvar VAR_NAME = \"simulationTime\"; \n// Default start date if human hasn't input anything yet\nvar DEFAULT_START = \"2026-01-01 00:01:00\"; \nvar TARGET_TIMEZONE = \"Asia/Hong_Kong\";\n\n// --- LOGIC ---\n\n// 1. Get the last stored date from Global Variable\nvar storedDate = global.get(VAR_NAME);\n\n// Safety check: Use default if variable is empty\nif (!storedDate) {\n    storedDate = DEFAULT_START;\n}\n\n// 2. Convert string to Date Object\nvar dateObj = new Date(storedDate);\n\n// 3. Add 1 Day\n// We add 1 to the 'Date' portion of the timestamp\ndateObj.setDate(dateObj.getDate() + 1);\n\n// --- FORMATTING (HK Timezone + MariaDB) ---\n\n// We use 'sv-SE' (Sweden) locale because it naturally formats \n// dates as YYYY-MM-DD, which is close to SQL format.\nvar options = {\n    timeZone: TARGET_TIMEZONE,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false // Force 24-hour format\n};\n\n// Generate the parts in HK time\nvar formatter = new Intl.DateTimeFormat('sv-SE', options);\nvar parts = formatter.formatToParts(dateObj);\n\n// Helper function to extract parts cleanly\nfunction getPart(type) {\n    return parts.find(p => p.type === type).value;\n}\n\n// Reassemble into SQL format: YYYY-MM-DD HH:MM:SS\nvar hkTime = `${getPart('year')}-${getPart('month')}-${getPart('day')} ${getPart('hour')}:${getPart('minute')}:${getPart('second')}`;\n\n// --- OUTPUT ---\n\n// Update the global variable so the next run adds another day to THIS date\nglobal.set(VAR_NAME, hkTime);\n\n\nvar location = \"MK1\";\nvar waterlevel = \"50\";\nvar id = 3;\nvar waterlevel_status = \"yellow\";\nvar receiverID = 1;\n\n// --- SETTINGS ---\n// 1. Define your starting number here:\nvar DEFAULT_NUMBER = 50.00;\n\n// 2. Define the name of your global variable\nvar VAR_NAME = \"waterLevelSim\";\n\n// Get the current value from global context\nvar currentVal = global.get(VAR_NAME);\n\n// If this is the very first time running (value doesn't exist yet),\n// initialize it with your human defined number.\nif (currentVal === undefined) {\n    currentVal = DEFAULT_NUMBER;\n}\n\n// Generate a random change amount between 0.00 and 4.99\nvar changeAmount = Math.random() * 4.99;\n\n// Randomly decide whether to Add or Subtract\n// Math.random() >= 0.5 means true (Add), otherwise false (Subtract)\nvar isAdding = Math.random() >= 0.5;\n\nif (isAdding) {\n    currentVal += changeAmount;\n} else {\n    currentVal -= changeAmount;\n}\n\n// --- LIMITS (CLUMPING) ---\n// Ensure the value stays between 0.00 and 100.99\n\nif (currentVal > 100.99) {\n    currentVal = 100.99;\n}\nif (currentVal < 0.00) {\n    currentVal = 0.00;\n}\n\n\n// Save the new value back to global context for the next run\nglobal.set(VAR_NAME, currentVal);\nwaterlevel = currentVal;\n\n\nmsg.payload = {};\nmsg.payload['sendTime'] = {};\nmsg.payload.sendTime = hkTime;\nmsg.payload['location'] = {};\nmsg.payload.location = location;\nmsg.payload['waterlevel'] = {};\nmsg.payload.waterlevel = waterlevel;\nmsg.payload['id'] = {};\nmsg.payload.id = id;\nmsg.payload['waterlevel_status'] = {};\nmsg.payload.waterlevel_status = waterlevel_status;\nmsg.payload['receiverID'] = {};\nmsg.payload.receiverID = receiverID;\nmsg.differentTime = 16000;\nreturn msg;\n\n\n\n\n\n/*\nwater_data format\nString sendTime = \"2025-07-03 03:56:26.000000\";\nconst char *location = \"TY1\";\nString waterlevel = \"1\";\nconst char *id = \"1\";\nString waterlevel_status = \"1\";\n*/",
        "outputs": 1,
        "timeout": 0,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "705ccc1216c73f47"
            ]
        ]
    },
    {
        "id": "7ed9a69dbd82cb07",
        "type": "e-mail",
        "z": "f19b2ec915c96494",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "send email",
        "x": 1370,
        "y": 80,
        "wires": []
    },
    {
        "id": "09a308993dfba8bc",
        "type": "inject",
        "z": "f19b2ec915c96494",
        "name": "node red email",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ddddd",
        "payload": "hello",
        "payloadType": "str",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "e62d2147fa657c0b"
            ]
        ]
    },
    {
        "id": "e62d2147fa657c0b",
        "type": "function",
        "z": "f19b2ec915c96494",
        "name": "查詢資料庫",
        "func": "// 查詢資料庫並準備 Chatbot 訊息\nvar role = msg.role || \"Maintenance\";\nvar name = msg.name || \"Wong Kwok Lam\";\nvar warning = msg.warning || \"Tsing Yi IVE Waterlevel High, Pay Attention!!\";\nvar site_name = msg.site_name || \"TY1\";\n\n// 建立資料庫查詢\nmsg.topic = \"SELECT email FROM Contacts WHERE role = ? AND name = ?\";\nmsg.payload = [role, name];\n\n// 保存警告訊息和原始資料供後續使用\nmsg.original_role = role;\nmsg.original_name = name;\nmsg.original_warning = warning;\nmsg.original_site_name = site_name;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "5c44c4c95458379a"
            ]
        ]
    },
    {
        "id": "7c8ee44f99da2e8e",
        "type": "function",
        "z": "f19b2ec915c96494",
        "name": "準備郵件",
        "func": "// 為 Email 節點準備正確格式的訊息\nif (msg.payload && msg.payload.length > 0) {\n    var email = msg.payload[0].email;\n    var warning = msg.original_warning || msg.warning;\n    var site_name = msg.original_site_name || msg.site_name || \"Unknown Site\";\n    var name = msg.original_name || msg.name;\n    \n    if (email) {\n        // 清理和格式化 email 地址\n        var formattedEmail = email.toString().trim().toLowerCase();\n        //var formattedEmail =  \"230108472@stu.vtc.edu.hk\";\n        // 設置郵件相關的屬性\n        msg.to = formattedEmail;\n        msg.subject = `🚨 緊急警告通知 - ${site_name}`;\n        msg.topic = \"緊急警告通知\";\n        // 準備郵件內容\n        msg.payload = `🚨 緊急警告通知 🚨\n\n${warning}\n\n📍 監測地點: ${site_name}\n👤 負責人員: ${name}\n🕒 警示時間: ${new Date().toLocaleString('zh-HK')}\n\n⚠️ 請立即檢查並採取適當行動！\n\n--\n此為自動發送的警告訊息，請勿直接回覆。`;\n\n        \n        node.status({fill:\"green\",shape:\"dot\",text: \"發送至: \" + formattedEmail});\n        node.log(\"準備發送 Email 至: \" + formattedEmail);\n        return msg;\n        \n    } else {\n        node.error(\"用戶沒有登記 Email 地址: \" + name);\n        return null;\n    }\n} else {\n    node.error(\"在資料庫中找不到匹配的用戶\");\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 80,
        "wires": [
            [
                "575321a6dc715e33",
                "b47a37926f8a99b1"
            ]
        ]
    },
    {
        "id": "af3355fff1205e1d",
        "type": "link in",
        "z": "f19b2ec915c96494",
        "name": "link in 2",
        "links": [
            "261cfeb33b150684",
            "3ec6e16dbac06738",
            "0cfce2d87fc80918"
        ],
        "x": 485,
        "y": 240,
        "wires": [
            [
                "feb337f9170d95db",
                "d800c03b01a5fe34"
            ]
        ]
    },
    {
        "id": "5c44c4c95458379a",
        "type": "mysql",
        "z": "f19b2ec915c96494",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 670,
        "y": 80,
        "wires": [
            [
                "7c8ee44f99da2e8e"
            ]
        ]
    },
    {
        "id": "feb337f9170d95db",
        "type": "function",
        "z": "f19b2ec915c96494",
        "name": "set payload",
        "func": "let email = msg.payload.email;\nlet name = msg.payload.name;\nlet event_code = msg.event_code || 'Unknown';\nlet location = msg.location || 'Unknown';\nlet site_name = msg.site_name || 'Unknown';\n\nmsg.warning_2 = '\\nPlease check location: '  + location + '\\n';\nmsg.warning_3 = 'Event code: ' + event_code;\nmsg.warning = msg.warning_1 + msg.warning_2 + msg.warning_3;\n\nmsg.payload = [];\nmsg.payload[0] = {};\n\nmsg.payload[0].email = email;\nmsg.name = name;\nmsg.original_site_name = msg.site_name ;\n\ndelete msg.event_code;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 200,
        "wires": [
            [
                "7c8ee44f99da2e8e"
            ]
        ]
    },
    {
        "id": "d800c03b01a5fe34",
        "type": "debug",
        "z": "f19b2ec915c96494",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "575321a6dc715e33",
        "type": "debug",
        "z": "f19b2ec915c96494",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 220,
        "wires": []
    },
    {
        "id": "47842f93a78ea1b1",
        "type": "catch",
        "z": "f19b2ec915c96494",
        "name": "",
        "scope": [
            "09a308993dfba8bc",
            "e62d2147fa657c0b",
            "7c8ee44f99da2e8e",
            "af3355fff1205e1d",
            "5c44c4c95458379a",
            "feb337f9170d95db",
            "d800c03b01a5fe34",
            "575321a6dc715e33",
            "39b1a7835b9b4d9e",
            "b47a37926f8a99b1"
        ],
        "uncaught": false,
        "x": 500,
        "y": 480,
        "wires": [
            [
                "39b1a7835b9b4d9e"
            ]
        ]
    },
    {
        "id": "39b1a7835b9b4d9e",
        "type": "link out",
        "z": "f19b2ec915c96494",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "25c89047a92dd57a"
        ],
        "x": 665,
        "y": 480,
        "wires": []
    },
    {
        "id": "b47a37926f8a99b1",
        "type": "delay",
        "z": "f19b2ec915c96494",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1140,
        "y": 80,
        "wires": [
            [
                "7ed9a69dbd82cb07"
            ]
        ]
    },
    {
        "id": "bd31b5813de2afe0",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "獲取測站列表",
        "func": "// 修改為查詢Locations表的site_name欄位\nmsg.topic = \"SELECT DISTINCT site_name FROM Locations ORDER BY site_name\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "213b50f7c418e17b"
            ]
        ]
    },
    {
        "id": "896ce65a19d1a8f9",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "處理測站列表",
        "func": "// 處理測站列表，添加更詳細的調試信息\nnode.warn('收到數據庫響應，類型: ' + typeof msg.payload);\nnode.warn('數據庫響應完整結構: ' + JSON.stringify(msg.payload, null, 2));\n\n// 檢查是否收到有效的數據庫結果\nif (msg.payload && Array.isArray(msg.payload)) {\n    // 這是我們期望的數據格式\n    node.warn('收到數組數據，長度: ' + msg.payload.length);\n    \n    const locations = msg.payload.map(item => item.site_name).filter(loc => loc);\n    global.set('locations', locations);\n    \n    node.warn(`成功載入 ${locations.length} 個測站: ${JSON.stringify(locations)}`);\n    \n    // 檢查是否包含中文字符\n    const chineseStations = locations.filter(loc => /[\\u4e00-\\u9fa5]/.test(loc));\n    if (chineseStations.length > 0) {\n        node.warn(`包含中文測站: ${JSON.stringify(chineseStations)}`);\n    }\n    \n    // 如果是更新操作，也需要更新表單\n    return { \n        payload: locations,\n        topic: \"stationList\",\n        source: \"database\",\n        action: msg.action || \"initial\"  // 添加操作類型標識\n    };\n} else if (msg.payload && msg.payload.rows && Array.isArray(msg.payload.rows)) {\n    // 可能是不同的數據庫驅動返回格式\n    node.warn('使用 rows 字段的數據');\n    const locations = msg.payload.rows.map(item => item.site_name).filter(loc => loc);\n    global.set('locations', locations);\n    \n    node.warn(`成功載入 ${locations.length} 個測站: ${JSON.stringify(locations)}`);\n    \n    return { \n        payload: locations,\n        topic: \"stationList\",\n        source: \"database\",\n        action: msg.action || \"initial\"\n    };\n} else {\n    node.warn('未收到有效的測站數據，使用測試數據');\n    // 如果數據庫查詢失敗，使用測試數據\n    const testLocations = [\"Tuen Mun River Site A\", \"Sha Tin Site B\", \"Tai Po Site C\", \"Yuen Long Site D\"];\n    global.set('locations', testLocations);\n    \n    node.warn(`使用測試數據: ${JSON.stringify(testLocations)}`);\n    \n    return { \n        payload: testLocations,\n        topic: \"stationList\",\n        source: \"database\",\n        action: msg.action || \"initial\"\n    };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 140,
        "wires": [
            [
                "49ad69ee68d5c543"
            ]
        ]
    },
    {
        "id": "49ad69ee68d5c543",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "初始化表單",
        "func": "// 防止循環：只處理來自數據庫的 stationList 和 initForm\nif (msg.source === \"database\" && msg.topic === \"stationList\") {\n    // 從數據庫獲取的測站列表，更新全局變量\n    const locations = msg.payload || [];\n    global.set('locations', locations);\n    msg.locations = locations;\n    // 添加詳細調試信息\n    node.warn(`從數據庫載入 ${locations.length} 個測站: ${JSON.stringify(locations)}`);\n    \n    // 判斷是初始化還是更新\n    const isUpdate = msg.action === \"updateStations\";\n    \n    // 只發送給查詢表單，不設置 source 讓表單可以顯示\n    return [\n        {\n            payload: locations,\n            topic: \"stationList\",\n            isUpdate: isUpdate\n        },\n        null  // 第二個輸出空\n    ];\n}\n\nif (msg.topic === \"initForm\") {\n    // 頁面初始化請求，從全局變量讀取\n    const locations = global.get('locations') || [];\n    const installPlaces = global.get('installPlaces') || [];\n    msg.locations = locations;\n    node.warn(`頁面初始化，從全局變量讀取 ${locations.length} 個測站和 ${installPlaces.length} 個安裝位置`);\n    \n    // 設定默認時間\n    const now = new Date();\n    const yesterday = new Date(now.getTime() - (24 * 60 * 60 * 1000));\n    \n    function formatDateTimeLocal(date) {\n        return date.getFullYear() + '-' +\n            String(date.getMonth() + 1).padStart(2, '0') + '-' +\n            String(date.getDate()).padStart(2, '0') + 'T' +\n            String(date.getHours()).padStart(2, '0') + ':' +\n            String(date.getMinutes()).padStart(2, '0');\n    }\n    \n    // 返回測站列表和默認時間\n    return [\n        {\n            payload: {\n                stations: locations,\n                installPlaces: installPlaces\n            },\n            topic: \"formData\"\n        },\n        {\n            payload: {\n                location: \"\",\n                installPlace: \"\",\n                startTime: formatDateTimeLocal(yesterday),\n                endTime: formatDateTimeLocal(now)\n            },\n            topic: \"defaultTime\"\n        }\n    ];\n}\n\n// 其他消息直接返回空\nreturn [null, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 220,
        "wires": [
            [
                "1efac68f8bcd46d3",
                "cdf5358271ec356b"
            ],
            [
                "9a7ea5083b5403d9",
                "cdf5358271ec356b"
            ]
        ]
    },
    {
        "id": "213b50f7c418e17b",
        "type": "mysql",
        "z": "0c190d7037e7502d",
        "mydb": "3d2055bfaa1fe649",
        "name": "查詢測站",
        "x": 620,
        "y": 140,
        "wires": [
            [
                "896ce65a19d1a8f9"
            ]
        ]
    },
    {
        "id": "b76da4c58d7cd02d",
        "type": "mysql",
        "z": "0c190d7037e7502d",
        "mydb": "3d2055bfaa1fe649",
        "name": "執行查詢",
        "x": 300,
        "y": 420,
        "wires": [
            [
                "e4d1f7c0c3adfbd4",
                "1871421d0eb572ed",
                "a76160552fe018ec"
            ]
        ]
    },
    {
        "id": "1efac68f8bcd46d3",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "waterLevelGroup",
        "name": "查詢表單",
        "order": 5,
        "width": "10",
        "height": "6",
        "format": "<div class=\"form-row\" ng-init=\"init()\">\n  <div style=\"text-align: right; margin-bottom: 10px;\">\n    <select ng-model=\"selectedLanguage\" ng-change=\"updateLanguage()\" style=\"width: 120px; padding: 5px;\">\n      <option value=\"zh\">中文</option>\n      <option value=\"en\">English</option>\n    </select>\n  </div>\n  \n  <div class=\"form-group col-md-3\">\n    <label for=\"location\">{{getText('station_label')}}</label>\n    <select class=\"form-control\" id=\"location\" ng-model=\"formData.location\" ng-change=\"onLocationChange()\" required>\n      <option value=\"\">{{getText('all_stations')}}</option>\n      <option ng-repeat=\"loc in stationList\" value=\"{{loc}}\">{{loc}}</option>\n    </select>\n    <small class=\"form-text text-muted\">\n      {{getText('station_count').replace('{count}', stationList.length)}}<br>\n      <span ng-show=\"formData.location === ''\">{{getText('all_stations_tip')}}</span>\n    </small>\n  </div>\n  \n  <div class=\"form-group col-md-3\">\n    <label for=\"installPlace\">{{getText('install_place_label')}}</label>\n    <select class=\"form-control\" id=\"installPlace\" ng-model=\"formData.installPlace\" required>\n      <option value=\"\">{{getText('all_install_places')}}</option>\n      <option ng-repeat=\"place in installPlaceList\" value=\"{{place}}\">{{place}}</option>\n    </select>\n    <small class=\"form-text text-muted\">\n      {{getText('install_place_count').replace('{count}', installPlaceList.length)}}<br>\n      <span ng-show=\"formData.installPlace === ''\">{{getText('all_install_places_tip')}}</span>\n    </small>\n  </div>\n  \n  <div class=\"form-group col-md-2\">\n    <label for=\"startTime\">{{getText('start_time_label')}}</label>\n    <input type=\"datetime-local\" class=\"form-control\" id=\"startTime\" ng-model=\"formData.startTime\" required>\n  </div>\n  \n  <div class=\"form-group col-md-2\">\n    <label for=\"endTime\">{{getText('end_time_label')}}</label>\n    <input type=\"datetime-local\" class=\"form-control\" id=\"endTime\" ng-model=\"formData.endTime\" required>\n  </div>\n  \n  <div class=\"form-group col-md-2 d-flex align-items-end\">\n    <button class=\"btn btn-primary w-100\"\n            ng-click=\"submitQuery()\"\n            ng-disabled=\"!formData.startTime || !formData.endTime\">\n      {{getText('query_button')}}\n    </button>\n  </div>\n    <div\n        style=\"margin-top: 12px; padding: 8px; background-color: #fff3e0; border-radius: 4px; font-size: 13px; color: #ff9800;\">\n        <i class=\"fa fa-info-circle\"></i> {{getText('query_note')}}\n    </div>\n  \n  \n  </div>\n</div>\n<script>\n(function(scope) {\n    // 獲取全局翻譯資源\n    const getGlobalTranslations = function() {\n        return {\n            \"en\": {\n                \"dashboard_title\": \"Water Level Dashboard\",\n                \"station_label\": \"Station Location\",\n                \"install_place_label\": \"Installation Place\",\n                \"start_time_label\": \"Start Time\",\n                \"end_time_label\": \"End Time\",\n                \"query_button\": \"Query\",\n                \"all_stations\": \"All Stations\",\n                \"all_install_places\": \"All Installation Places\",\n                \"all_stations_tip\": \"When selecting \\\"All Stations\\\", the chart will show the latest data for each station.\",\n                \"all_install_places_tip\": \"When selecting \\\"All Installation Places\\\", the chart will show data from all installation places.\",\n                \"station_count\": \"Loaded {count} stations\",\n                \"install_place_count\": \"Loaded {count} installation places\",\n                \"no_data\": \"No data available\",\n                \"single_station_mode\": \"Single Station Mode:\",\n                \"multi_station_mode\": \"Multi Station Mode:\",\n                \"select_station\": \"Please select a station and time range to query.\",\n                \"data_table_title\": \"Water Level Data ({count} records)\",\n                \"time_column\": \"Time\",\n                \"station_column\": \"Station\",\n                \"install_place_column\": \"Installation Place\",\n                \"level_column\": \"Water Level\",\n                \"status_column\": \"Status\",\n                \"normal\": \"Normal\",\n                \"warning\": \"Warning\",\n                \"danger\": \"Danger\",\n                \"unknown\": \"Unknown\",\n                \"avg_level\": \"Average Level\",\n                \"meters\": \"meters\",\n                \"single_mode_desc\": \"Chart shows water level changes for a single station, gauge shows average level.\",\n                \"multi_mode_desc\": \"Query found {count} stations, chart shows water level changes for the first {displayCount} stations.\",\n                \"displayed_stations\": \"Displayed stations:\",\n                \"multi_mode_tip\": \"Note: Average level gauge is not displayed in multi-station mode.\",\n                \"chart_title\": \"Water Level Chart\",\n                \"gauge_title\": \"Average Water Level\",\n            \n                \"rainfall_chart_title\": \"Rainfall Chart\",\n                \"rainfall_label\": \"Rainfall\",\n                \"rainfall_unit\": \"mm\",\n                \"no_rainfall_data\": \"No rainfall data available\",\n                \"rainfall_chart_note\": \"Rainfall data is shown in millimeters (mm)\",\n                \"max_water_level_title\": \"Highest Water Level Day\",\n                \"max_date_label\": \"Date\",\n                \"max_water_level_label\": \"Max Water Level\",\n                \"max_day_rainfall_title\": \"Rainfall on Max Water Level Day\",\n                \"total_rainfall_label\": \"Total Rainfall\",\n                \"rainfall_records_label\": \"Records\",\n                \"no_max_data\": \"No data available for highest water level day\",\n                \"query_note\": \"If the query time range is too large, it may make the chart difficult to view, It is recommended not to  exceed one year.\",\n      \n            },\n            \"zh\": {\n                \"dashboard_title\": \"水位儀表板\",\n                \"station_label\": \"測站位置\",\n                \"install_place_label\": \"安裝位置\",\n                \"start_time_label\": \"開始時間\",\n                \"end_time_label\": \"結束時間\",\n                \"query_button\": \"查詢\",\n                \"all_stations\": \"全部測站\",\n                \"all_install_places\": \"全部安裝位置\",\n                \"all_stations_tip\": \"選擇\\\"全部測站\\\"時，圖表將顯示每個測站的最新數據\",\n                \"all_install_places_tip\": \"選擇\\\"全部安裝位置\\\"時，圖表將顯示所有安裝位置的數據\",\n                \"station_count\": \"已載入 {count} 個測站\",\n                \"install_place_count\": \"已載入 {count} 個安裝位置\",\n                \"no_data\": \"暫無數據\",\n                \"single_station_mode\": \"單測站模式:\",\n                \"multi_station_mode\": \"多測站模式:\",\n                \"select_station\": \"請選擇測站和時間範圍進行查詢。\",\n                \"data_table_title\": \"水位數據表格 (共 {count} 筆數據)\",\n                \"time_column\": \"時間\",\n                \"station_column\": \"測站\",\n                \"install_place_column\": \"安裝位置\",\n                \"level_column\": \"水位值\",\n                \"status_column\": \"狀態\",\n                \"normal\": \"正常\",\n                \"warning\": \"警告\",\n                \"danger\": \"危險\",\n                \"unknown\": \"未知\",\n                \"avg_level\": \"平均水位\",\n                \"meters\": \"米\",\n                \"single_mode_desc\": \"圖表顯示單一測站的水位變化，儀表板顯示該測站的平均水位。\",\n                \"multi_mode_desc\": \"查詢到 {count} 個測站的數據，圖表顯示前 {displayCount} 個測站的水位變化。\",\n                \"displayed_stations\": \"顯示的測站:\",\n                \"multi_mode_tip\": \"提示：多測站模式下，平均水位儀表不顯示數據。\",\n                \"chart_title\": \"水位變化圖\",\n                \"gauge_title\": \"平均水位\",\n        \n                \"rainfall_chart_title\": \"雨量變化圖\",\n                \"rainfall_label\": \"雨量\",\n                \"rainfall_unit\": \"毫米\",\n                \"no_rainfall_data\": \"暫無雨量數據\",\n                \"rainfall_chart_note\": \"雨量數據單位為毫米(mm)\",\n                \"max_water_level_title\": \"最高水位日\",\n                \"max_date_label\": \"日期\",\n                \"max_water_level_label\": \"最高水位\",\n                \"max_day_rainfall_title\": \"最高水位日雨量\",\n                \"total_rainfall_label\": \"總雨量\",\n                \"rainfall_records_label\": \"記錄數\",\n                \"no_max_data\": \"暫無最高水位日數據\",\n                \"query_note\": \"如果查詢時間範圍過大可能會導致圖表難以查看,建議不要超過一年。\",\n             \n            }\n        };\n    };\n    \n    scope.stationList = [];\n    scope.installPlaceList = [];\n    scope.formData = {\n        location: \"\",\n        installPlace: \"\",\n        startTime: \"\",\n        endTime: \"\"\n    };\n    \n    // 從全局獲取當前語言，默認為中文\n    scope.selectedLanguage = 'zh';\n    const translations = getGlobalTranslations();\n    \n    // 獲取文本的函數\n    scope.getText = function(key) {\n        return translations[scope.selectedLanguage][key] || key;\n    };\n    \n    scope.updateLanguage = function() {\n        // 發送語言更新消息\n        scope.send({\n            payload: {\n                language: scope.selectedLanguage\n            },\n            topic: \"languageUpdate\"\n        });\n        \n        console.log(\"語言切換至:\", scope.selectedLanguage);\n    };\n    \n    // 當測站選擇變化時\n    scope.onLocationChange = function() {\n        console.log(\"測站選擇變化:\", scope.formData.location);\n        \n        // 重置安裝位置選擇\n        scope.formData.installPlace = \"\";\n        \n        // 發送請求獲取對應的安裝位置\n        scope.send({\n            payload: {\n                location: scope.formData.location,\n                action: \"getInstallPlaces\"\n            },\n            topic: \"locationChange\"\n        });\n    };\n    \n    scope.init = function() {\n        console.log(\"表單初始化，請求測站列表\");\n        // 發送初始化請求\n        scope.send({\n            payload: \"init\",\n            topic: \"initForm\"\n        });\n    };\n    \n    scope.submitQuery = function() {\n        console.log(\"提交查詢:\", scope.formData);\n        // 確保時間格式正確\n        const startTime = new Date(scope.formData.startTime).toISOString();\n        const endTime = new Date(scope.formData.endTime).toISOString();\n        \n        scope.send({\n            payload: {\n                location: scope.formData.location,\n                installPlace: scope.formData.installPlace,\n                startTime: startTime,\n                endTime: endTime\n            },\n            topic: \"query\"\n        });\n    };\n    \n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n        \n        console.log(\"表單收到消息:\", msg.topic);\n        \n        if (msg.topic === \"stationList\" && msg.payload) {\n            if (Array.isArray(msg.payload)) {\n                scope.stationList = msg.payload;\n                console.log(\"✅ \" + (msg.isUpdate ? \"更新\" : \"載入\") + \"測站列表:\", scope.stationList.length, \"個測站\");\n                \n                // 如果是更新操作，顯示通知\n                if (msg.isUpdate) {\n                    alert((scope.selectedLanguage === 'zh' ? \"測站列表已更新！\" : \"Station list updated!\"));\n                }\n            }\n        }\n        \n        if (msg.topic === \"formData\" && msg.payload) {\n            if (Array.isArray(msg.payload.stations)) {\n                scope.stationList = msg.payload.stations;\n                console.log(\"✅ 更新測站列表:\", scope.stationList.length, \"個測站\");\n            }\n            if (Array.isArray(msg.payload.installPlaces)) {\n                scope.installPlaceList = msg.payload.installPlaces;\n                console.log(\"✅ 更新安裝位置列表:\", scope.installPlaceList.length, \"個安裝位置\");\n            }\n        }\n        \n        if (msg.topic === \"defaultTime\" && msg.payload) {\n            if (msg.payload.startTime) {\n                scope.formData.startTime = msg.payload.startTime;\n            }\n            if (msg.payload.endTime) {\n                scope.formData.endTime = msg.payload.endTime;\n            }\n            if (msg.payload.location) {\n                scope.formData.location = msg.payload.location;\n            }\n            if (msg.payload.installPlace) {\n                scope.formData.installPlace = msg.payload.installPlace;\n            }\n            console.log(\"✅ 設定預設時間和選擇\");\n        }\n        \n        if (msg.topic === \"installPlaceUpdate\" && msg.payload) {\n            if (Array.isArray(msg.payload.installPlaces)) {\n                scope.installPlaceList = msg.payload.installPlaces;\n                scope.formData.installPlace = \"\"; // 重置選擇\n                console.log(\"✅ 更新動態安裝位置列表:\", scope.installPlaceList.length, \"個安裝位置\");\n            }\n        }\n        \n        // 處理語言更新\n        if (msg.topic === \"languageUpdate\" && msg.payload) {\n            scope.selectedLanguage = msg.payload.language || 'zh';\n            console.log(\"表單：語言更新為\", scope.selectedLanguage);\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "49ad69ee68d5c543",
                "9a7ea5083b5403d9",
                "96eb6545ea7a421c",
                "6d852afab9bfc5e9"
            ]
        ]
    },
    {
        "id": "9a7ea5083b5403d9",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "構建查詢",
        "func": "// 處理三種類型的消息：query、defaultTime 和來自自動查詢的消息\n// 在構建查詢的函數開頭添加：\nlet queryData = {};\n\nif (msg.topic === \"query\") {\n    // 來自表單的查詢\n    queryData = msg.payload;\n    \n    // 儲存查詢條件到全局變量，用於空數據提醒\n    // 只有在有選擇特定測站且不是空字串時才儲存\n    if (queryData.location && queryData.location !== '') {\n        global.set('lastQueryLocation', queryData.location);\n        node.warn(`儲存查詢測站: ${queryData.location}`);\n    } else {\n        global.set('lastQueryLocation', '');\n        node.warn('查詢全部測站');\n    }\n} else if (msg.topic === \"defaultTime\") {\n    // 來自初始化的默認時間\n    queryData = msg.payload;\n    global.set('lastQueryLocation', ''); // 初始化時清空\n} else if (msg.payload && typeof msg.payload === \"object\") {\n    // 來自自動查詢的消息\n    queryData = msg.payload;\n}\n\n\nif (msg.topic === \"query\") {\n    // 來自表單的查詢\n    queryData = msg.payload;\n} else if (msg.topic === \"defaultTime\") {\n    // 來自初始化的默認時間\n    queryData = msg.payload;\n} else if (msg.payload && typeof msg.payload === \"object\") {\n    // 來自自動查詢的消息\n    queryData = msg.payload;\n}\n\n// 構建SQL查詢語句\nconst location = queryData.location || '';\nconst installPlace = queryData.installPlace || '';\nlet startTime = queryData.startTime || '';\nlet endTime = queryData.endTime || '';\nconst limit = 5000; // 設定查詢上限為5000條記錄\n\nlet mysqlStartTime = '';\nlet mysqlEndTime = '';\n\nif (startTime) {\n    const date = new Date(startTime);\n    mysqlStartTime = date.getFullYear() + '-' +\n        String(date.getMonth() + 1).padStart(2, '0') + '-' +\n        String(date.getDate()).padStart(2, '0') + ' ' +\n        String(date.getHours()).padStart(2, '0') + ':' +\n        String(date.getMinutes()).padStart(2, '0') + ':00';\n}\n\nif (endTime) {\n    const date = new Date(endTime);\n    mysqlEndTime = date.getFullYear() + '-' +\n        String(date.getMonth() + 1).padStart(2, '0') + '-' +\n        String(date.getDate()).padStart(2, '0') + ' ' +\n        String(date.getHours()).padStart(2, '0') + ':' +\n        String(date.getMinutes()).padStart(2, '0') + ':00';\n}\n\n// 構建水位查詢\nlet waterQuery = `\n    SELECT \n        wl.water_level,\n        wl.water_level_status,\n        wl.recorded_at,\n        l.site_name as location,\n        ni.install_place as install_place,\n        ni.red_threshold,\n        ni.yellow_threshold\n    FROM WaterLevelLogs wl\n    INNER JOIN NodeInfo ni ON wl.node_id = ni.node_id\n    INNER JOIN Locations l ON ni.location_id = l.location_id\n`;\n\nlet waterConditions = [];\nlet waterParams = [];\n\nif (location && location !== '') {\n    waterConditions.push(\"l.site_name = ?\");\n    waterParams.push(location);\n}\n\nif (installPlace && installPlace !== '') {\n    waterConditions.push(\"ni.install_place = ?\");\n    waterParams.push(installPlace);\n}\n\nif (mysqlStartTime) {\n    waterConditions.push(\"wl.recorded_at >= ?\");\n    waterParams.push(mysqlStartTime);\n}\n\nif (mysqlEndTime) {\n    waterConditions.push(\"wl.recorded_at <= ?\");\n    waterParams.push(mysqlEndTime);\n}\n\nif (waterConditions.length > 0) {\n    waterQuery += \" WHERE \" + waterConditions.join(\" AND \");\n}\n\nwaterQuery += \" ORDER BY wl.recorded_at DESC LIMIT ?\";\nwaterParams.push(limit);\n\n// 構建雨量查詢\nlet rainfallQuery = `\n    SELECT \n        rd.recorded_at,\n        rd.rainfall_mm,\n        d.district_name\n    FROM RainfallData rd\n    INNER JOIN Districts d ON rd.district_id = d.district_id\n`;\n\nlet rainfallConditions = [];\nlet rainfallParams = [];\n\nif (location && location !== '') {\n    // 如果選擇了測站，查詢對應地區的雨量數據\n    rainfallQuery += \" INNER JOIN Locations l ON d.district_id = l.district_id \";\n    rainfallConditions.push(\"l.site_name = ?\");\n    rainfallParams.push(location);\n}\n\nif (mysqlStartTime) {\n    rainfallConditions.push(\"rd.recorded_at >= ?\");\n    rainfallParams.push(mysqlStartTime);\n}\n\nif (mysqlEndTime) {\n    rainfallConditions.push(\"rd.recorded_at <= ?\");\n    rainfallParams.push(mysqlEndTime);\n}\n\nif (rainfallConditions.length > 0) {\n    rainfallQuery += \" WHERE \" + rainfallConditions.join(\" AND \");\n}\n\nrainfallQuery += \" ORDER BY rd.recorded_at ASC LIMIT ?\";\nrainfallParams.push(limit);\n\n// 創建兩個消息：水位查詢和雨量查詢\nconst waterMsg = {\n    topic: waterQuery,\n    payload: waterParams,\n    queryType: \"water\"\n};\n\nconst rainfallMsg = {\n    topic: rainfallQuery,\n    payload: rainfallParams,\n    queryType: \"rainfall\"\n};\n\n// 返回兩個消息\nreturn [waterMsg, rainfallMsg];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 120,
        "y": 440,
        "wires": [
            [
                "b76da4c58d7cd02d"
            ],
            [
                "54a24cf3a4d904d6"
            ]
        ]
    },
    {
        "id": "e4d1f7c0c3adfbd4",
        "type": "debug",
        "z": "0c190d7037e7502d",
        "name": "調試查詢結果",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 600,
        "wires": []
    },
    {
        "id": "34783fef3eac765d",
        "type": "ui_chart",
        "z": "0c190d7037e7502d",
        "name": "水位變化圖",
        "group": "3da9273a83daaaca",
        "order": 2,
        "width": "11",
        "height": "8",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#dc3545",
            "#ffc107",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 930,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5a6910fea201e553",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "waterLevelGroup",
        "name": "圖表說明",
        "order": 9,
        "width": "11",
        "height": "4",
        "format": "<div style=\"padding: 15px 15px; background-color: #f0f7ff; border-left: 4px solid #007cba; margin-bottom: 10px; min-height: 100px;\">\n    <div ng-show=\"msg.payload.count === 1\">\n        <strong>{{getText('single_station_mode')}}</strong>\n        <div style=\"margin-top: 8px;\">{{getText('single_mode_desc')}}</div>\n    </div>\n    <div ng-show=\"msg.payload.count > 1\">\n        <strong>{{getText('multi_station_mode')}}</strong>\n        <div style=\"margin-top: 8px;\">\n            {{getText('multi_mode_desc').replace('{count}', msg.payload.count).replace('{displayCount}', msg.payload.displayCount)}}\n        </div>\n        <div style=\"margin-top: 8px; font-size: 13px; line-height: 1.4;\">\n            {{getText('displayed_stations')}} <span ng-repeat=\"loc in msg.payload.locations\">{{loc}}{{$last ? '' : ', '}}</span>\n        </div>\n        <div style=\"margin-top: 8px; font-size: 13px; color: #666;\">\n            {{getText('multi_mode_tip')}}\n        </div>\n    </div>\n    <div ng-show=\"msg.payload.count === 0\">\n        {{getText('select_station')}}\n    </div>\n\n    <div style=\"margin-top: 12px; padding: 8px; background-color: #fff3e0; border-radius: 4px; font-size: 13px; color: #ff9800;\">\n        <i class=\"fa fa-info-circle\"></i> {{getText('query_limit_note')}}\n    </div>\n</div>\n<script>\n(function(scope) {\n    // 獲取全局翻譯資源\n    const getGlobalTranslations = function() {\n        return {\n            \"en\": {\n                \"single_station_mode\": \"Single Station Mode:\",\n                \"multi_station_mode\": \"Multi Station Mode:\",\n                \"select_station\": \"Please select a station and time range to query.\",\n                \"single_mode_desc\": \"Chart shows water level changes for a single station, gauge shows average level.\",\n                \"multi_mode_desc\": \"Query found {count} stations, chart shows water level changes for the first {displayCount} stations.\",\n                \"displayed_stations\": \"Displayed stations:\",\n                \"multi_mode_tip\": \"Note: Average level gauge is not displayed in multi-station mode.\",\n            \n                \"query_limit_note\": \"Query limit: Maximum 5000 records per query.\",\n                \"threshold_info\": \"Threshold Information\",\n                \"danger_threshold\": \"Danger Threshold\",\n                \"warning_threshold\": \"Warning Threshold\"\n            },\n            \"zh\": {\n                \"single_station_mode\": \"單測站模式:\",\n                \"multi_station_mode\": \"多測站模式:\",\n                \"select_station\": \"請選擇測站和時間範圍進行查詢。\",\n                \"single_mode_desc\": \"圖表顯示單一測站的水位變化，儀表板顯示該測站的平均水位。\",\n                \"multi_mode_desc\": \"查詢到 {count} 個測站的數據，圖表顯示前 {displayCount} 個測站的水位變化。\",\n                \"displayed_stations\": \"顯示的測站:\",\n                \"multi_mode_tip\": \"提示：多測站模式下，平均水位儀表不顯示數據。\",\n\n                \"query_limit_note\": \"查詢限制：每次查詢最多返回5000條記錄。\",\n                \"threshold_info\": \"閾值資訊\",\n                \"danger_threshold\": \"危險閾值\",\n                \"warning_threshold\": \"警告閾值\"\n            }\n        };\n    };\n    \n    // 初始化\n    scope.currentLanguage = 'zh';\n    const translations = getGlobalTranslations();\n    \n    // 獲取文本的函數\n    scope.getText = function(key) {\n        return translations[scope.currentLanguage][key] || key;\n    };\n    \n    // 監聽語言變化\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n        \n        if (msg.topic === \"languageUpdate\" && msg.payload) {\n            scope.currentLanguage = msg.payload.language || 'zh';\n            console.log(\"圖表說明：語言更新為\", scope.currentLanguage);\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "96eb6545ea7a421c",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "更新語言",
        "func": "// 處理語言更新消息，廣播到所有組件\nif (msg.topic === \"languageUpdate\" && msg.payload && msg.payload.language) {\n    const language = msg.payload.language;\n    \n    // 存儲當前語言到全局變量\n    global.set('currentLanguage', language);\n    \n    node.warn(`語言切換為: ${language}`);\n    \n    // 廣播語言更新到所有組件\n    return [\n        {payload: {language: language}, topic: \"languageUpdate\"},\n        {payload: {language: language}, topic: \"languageUpdate\"},\n        {payload: {language: language}, topic: \"languageUpdate\"},\n        {payload: {language: language}, topic: \"languageUpdate\"},\n        {payload: {language: language}, topic: \"languageUpdate\"},\n        {payload: {language: language}, topic: \"languageUpdate\"},\n        {payload: {language: language}, topic: \"languageUpdate\"},\n        {payload: {language: language}, topic: \"languageUpdate\"}\n    ];\n}\n\nreturn null;",
        "outputs": 8,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "321f7c65a287710a"
            ],
            [
                "34783fef3eac765d"
            ],
            [
                "5a6910fea201e553"
            ],
            [
                "21405c52b21f8a4d",
                "02777d9a28b0f4cb"
            ],
            [
                "7befe20f16ca8965",
                "c719941849f2ee99"
            ],
            [
                "afed11deb0f53528",
                "9cd01b1b0d221335",
                "ac32de82d8c67645"
            ],
            [
                "18ebf145e884492c"
            ],
            [
                "90c209719980cab6"
            ]
        ]
    },
    {
        "id": "21405c52b21f8a4d",
        "type": "ui_gauge",
        "z": "0c190d7037e7502d",
        "name": "平均水位儀表",
        "group": "3da9273a83daaaca",
        "order": 6,
        "width": "11",
        "height": "4",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "200",
        "seg2": "500",
        "diff": false,
        "className": "",
        "x": 920,
        "y": 520,
        "wires": []
    },
    {
        "id": "d869e57a8d3233d2",
        "type": "inject",
        "z": "0c190d7037e7502d",
        "name": "初始化",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "bd31b5813de2afe0",
                "82fc646c78d26151"
            ]
        ]
    },
    {
        "id": "ad84104cb045bbf5",
        "type": "ui_button",
        "z": "0c190d7037e7502d",
        "name": "更新按鈕",
        "group": "waterLevelGroup",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "global",
        "x": 940,
        "y": 660,
        "wires": [
            [
                "5156c0919912b484"
            ]
        ]
    },
    {
        "id": "02777d9a28b0f4cb",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "檢查語言",
        "func": "let language = global.get('currentLanguage');\nmsg.language = language;\n\nif (language == \"en\"){\n    msg.payload = 'Refresh Station List';\n    return msg;\n} else if (language == \"zh\"){\n    msg.payload = '更新測站列表';\n    return msg;\n} else {\n    msg.payload = '更新測站列表';\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 700,
        "wires": [
            [
                "ad84104cb045bbf5",
                "4d84e51fd0734853"
            ]
        ]
    },
    {
        "id": "5156c0919912b484",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "動態更新測站和安裝位置",
        "func": "// 這個函數由更新按鈕觸發，同時更新測站列表和安裝位置列表\n\n// 構建兩個查詢消息\nconst stationQuery = {\n    topic: \"SELECT DISTINCT site_name FROM Locations ORDER BY site_name\",\n    action: \"updateStations\"\n};\n\nconst installPlaceQuery = {\n    topic: \"SELECT DISTINCT install_place FROM NodeInfo WHERE install_place IS NOT NULL AND install_place != '' ORDER BY install_place\",\n    action: \"updateInstallPlaces\"\n};\n\n// 返回兩個消息，分別更新測站和安裝位置\nreturn [\n    stationQuery,\n    installPlaceQuery\n];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 500,
        "wires": [
            [
                "213b50f7c418e17b"
            ],
            [
                "df6c299bbf2e0a99"
            ]
        ]
    },
    {
        "id": "82fc646c78d26151",
        "type": "link out",
        "z": "0c190d7037e7502d",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "36a72ee4c166dff2"
        ],
        "x": 325,
        "y": 80,
        "wires": []
    },
    {
        "id": "36a72ee4c166dff2",
        "type": "link in",
        "z": "0c190d7037e7502d",
        "name": "link in 6",
        "links": [
            "82fc646c78d26151"
        ],
        "x": 505,
        "y": 700,
        "wires": [
            [
                "02777d9a28b0f4cb"
            ]
        ]
    },
    {
        "id": "4d84e51fd0734853",
        "type": "debug",
        "z": "0c190d7037e7502d",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 700,
        "wires": []
    },
    {
        "id": "54a24cf3a4d904d6",
        "type": "mysql",
        "z": "0c190d7037e7502d",
        "mydb": "3d2055bfaa1fe649",
        "name": "查詢雨量",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "1871421d0eb572ed",
                "a76160552fe018ec"
            ]
        ]
    },
    {
        "id": "7befe20f16ca8965",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "雨量數據處理",
        "func": "// 處理雨量圖表數據\nif (msg.topic === \"rainfallChart\") {\n    // 直接轉發雨量圖表數據\n    return msg;\n}\n\n// 處理語言更新\nif (msg.topic === \"languageUpdate\" && msg.payload && msg.payload.language) {\n    // 轉發語言更新到雨量圖表\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 540,
        "wires": [
            [
                "ef1c0aaccb05c459"
            ]
        ]
    },
    {
        "id": "ef1c0aaccb05c459",
        "type": "ui_chart",
        "z": "0c190d7037e7502d",
        "name": "雨量變化圖",
        "group": "3da9273a83daaaca",
        "order": 4,
        "width": "11",
        "height": "8",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#4169e1",
            "#32cd32",
            "#ff4500",
            "#8a2be2",
            "#ff69b4",
            "#00ced1",
            "#ffd700",
            "#228b22",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 930,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c719941849f2ee99",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "雨量圖表標籤",
        "func": "// 處理雨量圖表標籤\nif (msg.topic === \"languageUpdate\" && msg.payload) {\n    const language = msg.payload.language || 'zh';\n    const translations = {\n        \"en\": \"Rainfall Chart\",\n        \"zh\": \"雨量變化圖\"\n    };\n    \n    msg.payload = translations[language] || \"Rainfall Chart\";\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 600,
        "wires": [
            [
                "ef1c0aaccb05c459"
            ]
        ]
    },
    {
        "id": "afed11deb0f53528",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "3da9273a83daaaca",
        "name": "水位圖標題",
        "order": 1,
        "width": "11",
        "height": "1",
        "format": "\n<div\n    style=\"font-size: 16px; font-weight: bold; color: #007cba; padding: 5px 0; text-align: center; margin-bottom: -10px;\">\n    <i class=\"fa fa-info-circle\" style=\"margin-right: 8px;\"></i>\n    {{getTitle()}}\n</div>\n<script>\n(function(scope) {\n    // 獲取全局翻譯資源\n    const getGlobalTranslations = function() {\n        return {\n            \"en\": {\n                \"water_chart_title\": \"Water Level Chart\"\n            },\n            \"zh\": {\n                \"water_chart_title\": \"水位變化圖\"\n            }\n        };\n    };\n    \n    // 初始化\n    scope.currentLanguage = 'zh';\n    const translations = getGlobalTranslations();\n    \n    // 獲取標題的函數\n    scope.getTitle = function() {\n        return translations[scope.currentLanguage]['water_chart_title'] || '水位變化圖';\n    };\n    \n    // 監聽語言變化\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n        \n        if (msg.topic === \"languageUpdate\" && msg.payload) {\n            scope.currentLanguage = msg.payload.language || 'zh';\n            console.log(\"水位圖標題：語言更新為\", scope.currentLanguage);\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9cd01b1b0d221335",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "3da9273a83daaaca",
        "name": "平均水位標題",
        "order": 5,
        "width": "11",
        "height": "1",
        "format": "<div style=\"font-size: 16px; font-weight: bold; color: #007cba; padding: 5px 0; text-align: center;\">\n    <i class=\"fa fa-tachometer\" style=\"margin-right: 8px;\"></i>\n    {{getTitle()}}\n</div>\n<script>\n(function(scope) {\n    // 獲取全局翻譯資源\n    const getGlobalTranslations = function() {\n        return {\n            \"en\": {\n                \"gauge_title\": \"Average Water Level\"\n            },\n            \"zh\": {\n                \"gauge_title\": \"平均水位\"\n            }\n        };\n    };\n    \n    // 初始化\n    scope.currentLanguage = 'zh';\n    const translations = getGlobalTranslations();\n    \n    // 獲取標題的函數\n    scope.getTitle = function() {\n        return translations[scope.currentLanguage]['gauge_title'] || '平均水位';\n    };\n    \n    // 監聽語言變化\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n        \n        if (msg.topic === \"languageUpdate\" && msg.payload) {\n            scope.currentLanguage = msg.payload.language || 'zh';\n            console.log(\"平均水位標題：語言更新為\", scope.currentLanguage);\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 920,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ac32de82d8c67645",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "3da9273a83daaaca",
        "name": "雨量圖標題",
        "order": 3,
        "width": "11",
        "height": "1",
        "format": "<div style=\"font-size: 16px; font-weight: bold; color: #007cba; padding: 5px 0; text-align: center;\">\n    <i class=\"fa fa-cloud-rain\" style=\"margin-right: 8px;\"></i>\n    {{getTitle()}}\n</div>\n<script>\n(function(scope) {\n    // 獲取全局翻譯資源\n    const getGlobalTranslations = function() {\n        return {\n            \"en\": {\n                \"rainfall_chart_title\": \"Rainfall Chart\"\n            },\n            \"zh\": {\n                \"rainfall_chart_title\": \"雨量變化圖\"\n            }\n        };\n    };\n    \n    // 初始化\n    scope.currentLanguage = 'zh';\n    const translations = getGlobalTranslations();\n    \n    // 獲取標題的函數\n    scope.getTitle = function() {\n        return translations[scope.currentLanguage]['rainfall_chart_title'] || '雨量變化圖';\n    };\n    \n    // 監聽語言變化\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n        \n        if (msg.topic === \"languageUpdate\" && msg.payload) {\n            scope.currentLanguage = msg.payload.language || 'zh';\n            console.log(\"雨量圖標題：語言更新為\", scope.currentLanguage);\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 930,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "cdf5358271ec356b",
        "type": "debug",
        "z": "0c190d7037e7502d",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 120,
        "y": 320,
        "wires": []
    },
    {
        "id": "6d852afab9bfc5e9",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "處理測站變化",
        "func": "// 處理測站變化事件\nif (msg.topic === \"locationChange\") {\n    if (msg.payload && msg.payload.action === \"getInstallPlaces\" && msg.payload.location) {\n        // 獲取特定測站的安裝位置\n        const locationName = msg.payload.location;\n        \n        // 構建查詢語句：通過 JOIN 獲取特定測站的安裝位置\n        msg.topic = `SELECT DISTINCT ni.install_place FROM NodeInfo ni INNER JOIN Locations l ON ni.location_id = l.location_id WHERE l.site_name = '${locationName}' AND ni.install_place IS NOT NULL AND ni.install_place != '' ORDER BY ni.install_place`;\n        \n        node.warn(`查詢測站 ${locationName} 的安裝位置`);\n        \n        // 添加標記，表示這是測站變化事件，不是查詢事件\n        msg.source = \"locationChange\";\n        \n        return msg;\n    } else {\n        // 如果沒有選擇測站或選擇了所有測站，獲取所有安裝位置\n        msg.topic = \"SELECT DISTINCT install_place FROM NodeInfo WHERE install_place IS NOT NULL AND install_place != '' ORDER BY install_place\";\n        node.warn(\"查詢所有安裝位置\");\n        \n        // 添加標記，表示這是測站變化事件，不是查詢事件\n        msg.source = \"locationChange\";\n        \n        return msg;\n    }\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "df6c299bbf2e0a99"
            ]
        ]
    },
    {
        "id": "df6c299bbf2e0a99",
        "type": "mysql",
        "z": "0c190d7037e7502d",
        "mydb": "3d2055bfaa1fe649",
        "name": "查詢動態安裝位置",
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "5167f1d1e5d95c0b"
            ]
        ]
    },
    {
        "id": "5167f1d1e5d95c0b",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "處理動態安裝位置",
        "func": "// 處理動態查詢的安裝位置結果\nnode.warn('收到動態安裝位置數據，類型: ' + typeof msg.payload);\n\nlet installPlaces = [];\n\nif (msg.payload && Array.isArray(msg.payload)) {\n    installPlaces = msg.payload.map(item => item.install_place).filter(place => place);\n} else if (msg.payload && msg.payload.rows && Array.isArray(msg.payload.rows)) {\n    installPlaces = msg.payload.rows.map(item => item.install_place).filter(place => place);\n}\n\nnode.warn(`動態載入 ${installPlaces.length} 個安裝位置: ${JSON.stringify(installPlaces)}`);\n\n// 更新全局變量\nglobal.set('installPlaces', installPlaces);\n\n// 發送回表單更新\nreturn {\n    payload: {\n        installPlaces: installPlaces\n    },\n    topic: \"installPlaceUpdate\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 280,
        "wires": [
            [
                "1efac68f8bcd46d3"
            ]
        ]
    },
    {
        "id": "5fab2235455b4262",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "處理圖表閾值",
        "func": "// 處理圖表數據，添加閾值線\nif (msg.topic === \"chart\" && Array.isArray(msg.payload)) {\n    const chartData = msg.payload[0];\n    const series = chartData.series || [];\n    const data = chartData.data || [];\n    const labels = chartData.labels || [];\n    \n    // 檢查是否有閾值數據\n    const hasThresholds = msg.red_threshold > 0 || msg.yellow_threshold > 0;\n    \n    if (hasThresholds && series.length === 1) {\n        // 單測站模式，添加閾值線\n        const redThreshold = parseFloat(msg.red_threshold) || 0;\n        const yellowThreshold = parseFloat(msg.yellow_threshold) || 0;\n        \n        // 獲取時間範圍\n        const timeSeries = data[0] || [];\n        const timePoints = timeSeries.map(item => item.x);\n        \n        if (timePoints.length > 0) {\n            // 創建閾值線數據\n            const redLineData = timePoints.map(time => ({\n                x: time,\n                y: redThreshold\n            }));\n            \n            const yellowLineData = timePoints.map(time => ({\n                x: time,\n                y: yellowThreshold\n            }));\n            \n            // 添加閾值線系列\n            series.push(\"危險線\", \"警告線\");\n            data.push(redLineData, yellowLineData);\n            labels.push({}, {});\n            \n            // 更新顏色配置（確保閾值線有特定顏色）\n            msg.colors = [\n                \"#1f77b4\",  // 原始數據線\n                \"#dc3545\",  // 危險線（紅色）\n                \"#ffc107\"   // 警告線（黃色）\n            ];\n            \n            // 設置虛線樣式\n            msg.dash = [\n                false,      // 原始數據線（實線）\n                [5, 5],     // 危險線（虛線）\n                [5, 5]      // 警告線（虛線）\n            ];\n        }\n    }\n    \n    // 更新消息\n    msg.payload = [{\n        series: series,\n        data: data,\n        labels: labels\n    }];\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 460,
        "wires": [
            [
                "34783fef3eac765d"
            ]
        ]
    },
    {
        "id": "f7f01f1664502c16",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "獲取最高水位日",
        "func": "// 這個節點從水位查詢結果中找出最高水位的日子\nif (msg.topic === \"table\" && Array.isArray(msg.payload) && msg.payload.length > 0) {\n    const waterData = msg.payload;\n\n    // 按日期分組，找出每天的最高水位\n    const dailyMaxMap = new Map();\n\n    waterData.forEach(item => {\n        // 從 recorded_at 提取日期部分 (YYYY-MM-DD)\n        const dateStr = item.recorded_at.split(' ')[0];\n        const waterLevel = parseFloat(item.water_level) || 0;\n\n        if (!dailyMaxMap.has(dateStr) || dailyMaxMap.get(dateStr).waterLevel < waterLevel) {\n            dailyMaxMap.set(dateStr, {\n                date: dateStr,\n                waterLevel: waterLevel,\n                location: item.location,\n                install_place: item.install_place,\n                status: item.water_level_status,\n                fullData: item\n            });\n        }\n    });\n\n    // 找出所有日子中最高水位的記錄\n    let maxDay = null;\n    for (const [date, data] of dailyMaxMap.entries()) {\n        if (!maxDay || data.waterLevel > maxDay.waterLevel) {\n            maxDay = {\n                ...data,\n                date: date\n            };\n        }\n    }\n\n    if (maxDay) {\n        node.warn(`最高水位日: ${maxDay.date}, 水位: ${maxDay.waterLevel}`);\n\n        // 存儲最高水位日信息到全局變量，供雨量查詢使用\n        global.set('maxWaterLevelDay', maxDay);\n\n        // 構建雨量查詢，查詢該日期的雨量數據\n        const startDate = maxDay.date + \" 00:00:00\";\n        const endDate = maxDay.date + \" 23:59:59\";\n\n        // 構建雨量查詢語句\n        let rainfallQuery = `\n            SELECT \n                rd.recorded_at,\n                rd.rainfall_mm,\n                d.district_name\n            FROM RainfallData rd\n            INNER JOIN Districts d ON rd.district_id = d.district_id\n        `;\n\n        let rainfallConditions = [];\n        let rainfallParams = [];\n\n        // 如果選擇了測站，查詢對應地區的雨量數據\n        if (maxDay.location) {\n            rainfallQuery += \" INNER JOIN Locations l ON d.district_id = l.district_id \";\n            rainfallConditions.push(\"l.site_name = ?\");\n            rainfallParams.push(maxDay.location);\n        }\n\n        rainfallConditions.push(\"rd.recorded_at >= ?\");\n        rainfallParams.push(startDate);\n\n        rainfallConditions.push(\"rd.recorded_at <= ?\");\n        rainfallParams.push(endDate);\n\n        if (rainfallConditions.length > 0) {\n            rainfallQuery += \" WHERE \" + rainfallConditions.join(\" AND \");\n        }\n\n        rainfallQuery += \" ORDER BY rd.recorded_at ASC\";\n\n        // 返回最高水位日信息和雨量查詢\n        return [\n            {\n                payload: maxDay,\n                topic: \"maxWaterLevelDay\"\n            },\n            {\n                topic: rainfallQuery,\n                payload: rainfallParams,\n                queryType: \"maxDayRainfall\",\n                maxDayInfo: maxDay\n            }\n        ];\n    }\n}\n\n// 如果沒有數據，返回空\nreturn [null, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 800,
        "wires": [
            [
                "18ebf145e884492c"
            ],
            []
        ]
    },
    {
        "id": "18ebf145e884492c",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "45b15a5dbe0f2d2c",
        "name": "最高水位日顯示",
        "order": 3,
        "width": "10",
        "height": "7",
        "format": "<div\n    style=\"padding: 15px; background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); border-radius: 10px; color: white; margin-top: 20px;\">\n    <div style=\"display: flex; align-items: center; margin-bottom: 15px;\">\n\n        <h3 style=\"margin: 0;\">{{getText('max_water_level_title')}}</h3>\n    </div>\n\n    <div ng-if=\"msg.payload && msg.payload.date && msg.payload.waterLevel > 0\"\n        style=\"display: grid; grid-template-columns: repeat(2, 1fr); gap: 15px;\">\n        <div style=\"background: rgba(255,255,255,0.2); padding: 12px; border-radius: 8px;\">\n            <div style=\"font-size: 12px; opacity: 0.8;\">{{getText('max_date_label')}}</div>\n            <div style=\"font-size: 18px; font-weight: bold;\">{{formatDate(msg.payload.date)}}</div>\n        </div>\n\n        <div style=\"background: rgba(255,255,255,0.2); padding: 12px; border-radius: 8px;\">\n            <div style=\"font-size: 12px; opacity: 0.8;\">{{getText('max_water_level_label')}}</div>\n            <div style=\"font-size: 18px; font-weight: bold;\">{{msg.payload.waterLevel | number:2}} cm</div>\n        </div>\n\n        <div style=\"background: rgba(255,255,255,0.2); padding: 12px; border-radius: 8px;\">\n            <div style=\"font-size: 12px; opacity: 0.8;\">{{getText('station_label')}}</div>\n            <div style=\"font-size: 14px;\">{{msg.payload.location || '-'}}</div>\n        </div>\n\n        <div style=\"background: rgba(255,255,255,0.2); padding: 12px; border-radius: 8px;\">\n            <div style=\"font-size: 12px; opacity: 0.8;\">{{getText('install_place_label')}}</div>\n            <div style=\"font-size: 14px;\">{{msg.payload.install_place || '-'}}</div>\n        </div>\n\n        <div style=\"background: rgba(255,255,255,0.2); padding: 12px; border-radius: 8px; grid-column: span 2;\">\n            <div style=\"font-size: 12px; opacity: 0.8;\">{{getText('status_label')}}</div>\n            <div>\n                <span ng-style=\"{\n                    'display': 'inline-block',\n                    'padding': '4px 12px',\n                    'border-radius': '20px',\n                    'font-size': '14px',\n                    'background': getStatusColor(msg.payload.status)\n                }\">\n                    {{getStatusText(msg.payload.status)}}\n                </span>\n            </div>\n        </div>\n    </div>\n\n    <div ng-if=\"!msg.payload || !msg.payload.date || msg.payload.waterLevel <= 0\"\n        style=\"text-align: center; padding: 30px; background: rgba(255,255,255,0.1); border-radius: 8px;\">\n        <i class=\"fa fa-cloud\" style=\"font-size: 48px; margin-bottom: 10px;\"></i>\n        <div>{{getText('no_max_data')}}</div>\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n    // 獲取全局翻譯資源\n    const getGlobalTranslations = function() {\n        return {\n            \"en\": {\n                \"max_water_level_title\": \"Highest Water Level Day\",\n                \"max_date_label\": \"Date\",\n                \"max_water_level_label\": \"Max Water Level\",\n                \"station_label\": \"Station\",\n                \"install_place_label\": \"Installation Place\",\n                \"status_label\": \"Status\",\n                \"no_max_data\": \"No data available for highest water level day\",\n                \"normal\": \"Normal\",\n                \"warning\": \"Warning\",\n                \"danger\": \"Danger\",\n                \"unknown\": \"Unknown\"\n            },\n            \"zh\": {\n                \"max_water_level_title\": \"最高水位日\",\n                \"max_date_label\": \"日期\",\n                \"max_water_level_label\": \"最高水位\",\n                \"station_label\": \"測站\",\n                \"install_place_label\": \"安裝位置\",\n                \"status_label\": \"狀態\",\n                \"no_max_data\": \"暫無最高水位日數據\",\n                \"normal\": \"正常\",\n                \"warning\": \"警告\",\n                \"danger\": \"危險\",\n                \"unknown\": \"未知\"\n            }\n        };\n    };\n    \n    // 初始化\n    scope.currentLanguage = 'zh';\n    const translations = getGlobalTranslations();\n    \n    // 獲取文本的函數\n    scope.getText = function(key) {\n        return translations[scope.currentLanguage][key] || key;\n    };\n    \n    // 定義狀態文字函數\n    scope.getStatusText = function(status) {\n        switch(status) {\n            case \"GREEN\": return scope.getText('normal');\n            case \"YELLOW\": return scope.getText('warning');\n            case \"RED\": return scope.getText('danger');\n            default: return scope.getText('unknown');\n        }\n    };\n    \n    // 定義狀態顏色函數\n    scope.getStatusColor = function(status) {\n        switch(status) {\n            case \"GREEN\": return '#28a745';\n            case \"YELLOW\": return '#ffc107';\n            case \"RED\": return '#dc3545';\n            default: return '#6c757d';\n        }\n    };\n    \n    // 日期格式化函數\n    scope.formatDate = function(dateString) {\n        if (!dateString) return '-';\n        var date = new Date(dateString);\n        if (isNaN(date.getTime())) return dateString;\n        var year = date.getFullYear();\n        var month = ('0' + (date.getMonth() + 1)).slice(-2);\n        var day = ('0' + date.getDate()).slice(-2);\n        return year + '-' + month + '-' + day;\n    };\n    \n    // 監聽語言變化\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n        \n        console.log('最高水位日顯示收到消息:', msg.topic);\n        \n        if (msg.topic === \"languageUpdate\" && msg.payload) {\n            scope.currentLanguage = msg.payload.language || 'zh';\n            console.log(\"最高水位日顯示：語言更新為\", scope.currentLanguage);\n        }\n        \n        if (msg.topic === \"maxWaterLevelDay\" && msg.payload) {\n            console.log('最高水位日顯示收到數據:', msg.payload);\n            scope.msg = msg;\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "7ec9d6347672d992",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "觸發最高水位日分析",
        "func": "// 這個節點接收處理後的資料並觸發最高水位日分析\nnode.warn('觸發最高水位日分析，收到消息 topic:', msg.topic);\n\nif (msg.topic === \"table\") {\n    // 檢查是否有數據\n    if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n        node.warn(`收到 ${msg.payload.length} 筆數據，開始分析最高水位日`);\n        \n        // 有數據時，同時發送給分析和表格\n        return [\n            { payload: msg.payload, topic: \"table\" },\n            { payload: msg.payload, topic: \"table\" }\n        ];\n    } else {\n        node.warn('沒有數據，跳過最高水位日分析，只更新表格');\n        // 沒有數據時，只發送空數據給表格\n        return [\n            { payload: [], topic: \"table\" },\n            null\n        ];\n    }\n}\n\n// 如果不是表格數據，返回兩個空\nreturn [null, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 760,
        "wires": [
            [
                "f7f01f1664502c16"
            ],
            [
                "321f7c65a287710a"
            ]
        ]
    },
    {
        "id": "1871421d0eb572ed",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "處理資料",
        "func": "// 判斷是否為雨量數據\nif (msg.queryType === \"rainfall\") {\n    // 處理雨量查詢結果\n    if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n        const data = JSON.parse(JSON.stringify(msg.payload));\n        \n        // 按地區分組\n        const groupedData = {};\n        data.forEach(item => {\n            const district = item.district_name || \"Unknown\";\n            if (!groupedData[district]) {\n                groupedData[district] = [];\n            }\n            \n            groupedData[district].push({\n                x: new Date(item.recorded_at).getTime(),\n                y: parseFloat(item.rainfall_mm) || 0\n            });\n        });\n        \n        // 準備圖表數據\n        let chartSeries = [];\n        const seriesArray = [];\n        const dataArray = [];\n        \n        // 限制最多顯示5個地區\n        const districts = Object.keys(groupedData);\n        const displayDistricts = districts.slice(0, 5);\n        \n        displayDistricts.forEach(district => {\n            const districtData = groupedData[district];\n            // 按時間排序\n            districtData.sort((a, b) => a.x - b.x);\n            \n            seriesArray.push(district);\n            dataArray.push(districtData);\n        });\n        \n        chartSeries = [{\n            series: seriesArray,\n            data: dataArray,\n            labels: []\n        }];\n        \n        // 輸出到第五個端口\n        return [null, null, null, null, { payload: chartSeries, topic: \"rainfallChart\" }];\n    } else {\n        // 沒有雨量數據\n        return [null, null, null, null, { payload: [], topic: \"rainfallChart\" }];\n    }\n}\n\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    const data = JSON.parse(JSON.stringify(msg.payload));\n\n    // 分組處理數據：按測站和安裝位置分組\n    const groupedData = {};\n    data.forEach(item => {\n        const location = item.location;\n        const installPlace = item.install_place;\n        const key = location + \" - \" + installPlace;\n\n        if (!groupedData[key]) {\n            groupedData[key] = [];\n        }\n        // 修改欄位名稱以匹配新數據庫結構\n        item.waterlevel = parseFloat(item.water_level) || 0;\n        // 處理water_level_status ENUM值 - 保留原始字串用於顯示\n        item.water_level_status_display = item.water_level_status; // 保留原始字串\n        // 同時保留數字版本用於其他用途\n        const statusMap = {\n            \"GREEN\": 1,\n            \"YELLOW\": 2,\n            \"RED\": 3\n        };\n        item.waterlevel_status = statusMap[item.water_level_status] || 0;\n        // 修改時間欄位名稱\n        item.time = item.recorded_at;\n        // 添加閾值數據\n        item.red_threshold = parseFloat(item.red_threshold) || 0;\n        item.yellow_threshold = parseFloat(item.yellow_threshold) || 0;\n        groupedData[key].push(item);\n    });\n\n    // 獲取所有測站-安裝位置組合\n    const allLocations = Object.keys(groupedData);\n\n    // 準備表格數據 - 使用轉換後的數據，並保留原始狀態字串\n    const tableData = JSON.parse(JSON.stringify(msg.payload));\n\n    // 修改表格數據 - 添加顯示用的狀態欄位\n    tableData.forEach(item => {\n        // 保留原始狀態字串用於顯示\n        item.status_display = item.water_level_status;\n        // 同時保留數字版本\n        const statusMap = {\n            \"GREEN\": 1,\n            \"YELLOW\": 2,\n            \"RED\": 3\n        };\n        item.waterlevel_status = statusMap[item.water_level_status] || 0;\n        item.waterlevel = parseFloat(item.water_level) || 0;\n        item.time = item.recorded_at;\n    });\n\n    // 準備圖表數據\n    let chartSeries = [];\n\n    // 如果是單個測站-安裝位置組合\n    if (allLocations.length === 1) {\n        const locationKey = allLocations[0];\n        const stationData = groupedData[locationKey];\n\n        // 獲取該測站的閾值（取第一條數據的閾值）\n        const thresholds = stationData.length > 0 ? stationData[0] : {};\n        const redThreshold = thresholds.red_threshold || 0;\n        const yellowThreshold = thresholds.yellow_threshold || 0;\n\n        // 準備單一測站的圖表數據\n        const seriesData = stationData.map(item => ({\n            x: new Date(item.time).getTime(),\n            y: item.waterlevel\n        }));\n\n        chartSeries = [{\n            series: [locationKey],\n            data: [seriesData],\n            labels: []\n        }];\n\n        // 創建帶閾值數據的消息\n        const chartMsg = {\n            payload: chartSeries,\n            topic: \"chart\",\n            red_threshold: redThreshold,\n            yellow_threshold: yellowThreshold\n        };\n\n        // 計算單個測站的平均水位\n        let averageWaterlevel = 0;\n        if (stationData.length > 0) {\n            const total = stationData.reduce((sum, item) => sum + item.waterlevel, 0);\n            averageWaterlevel = total / stationData.length;\n        }\n\n        // 重要：發送帶有原始狀態字串的表格數據\n        return [\n            { payload: tableData, topic: \"table\", statusField: \"water_level_status\" },\n            chartMsg,\n            { payload: averageWaterlevel, topic: \"average\" },\n            { payload: allLocations.length, topic: \"stationCount\" },\n            null\n        ];\n    }\n    // 如果是多個測站-安裝位置組合\n    else {\n        // 為每個測站準備圖表數據\n        const seriesArray = [];\n        const dataArray = [];\n\n        // 限制最多顯示5個組合\n        const displayLocations = allLocations.slice(0, 5);\n\n        displayLocations.forEach(locationKey => {\n            const stationData = groupedData[locationKey];\n\n            // 如果數據點太多，可以進行抽樣\n            let sampledData = stationData;\n            if (stationData.length > 100) {\n                sampledData = [];\n                for (let i = 0; i < stationData.length; i += Math.ceil(stationData.length / 50)) {\n                    sampledData.push(stationData[i]);\n                }\n            }\n\n            const seriesData = sampledData.map(item => ({\n                x: new Date(item.time).getTime(),\n                y: item.waterlevel\n            }));\n\n            seriesArray.push(locationKey);\n            dataArray.push(seriesData);\n        });\n\n        chartSeries = [{\n            series: seriesArray,\n            data: dataArray,\n            labels: []\n        }];\n\n        return [\n            { payload: tableData, topic: \"table\", statusField: \"water_level_status\" },\n            { payload: chartSeries, topic: \"chart\" },\n            { payload: 0, topic: \"average\" },\n            {\n                payload: {\n                    count: allLocations.length,\n                    displayCount: displayLocations.length,\n                    locations: displayLocations\n                },\n                topic: \"stationInfo\"\n            },\n            null\n        ];\n    }\n}\n// 如果沒有數據，返回空數組並清除所有顯示\nconsole.log('⚠️ 查詢沒有找到任何數據，返回空數組並清除顯示');\nnode.warn('⚠️ 查詢沒有找到任何數據');\n\n// 獲取最後查詢的測站\nconst lastLocation = global.get('lastQueryLocation') || '';\nnode.warn('最後查詢的測站:' + lastLocation);\n\n// 檢查這是否真的是查詢操作（不是測站變化或其他事件）\nconst isRealQuery = msg.queryType === \"water\" || msg.queryType === \"rainfall\";\nconst shouldAlert = lastLocation && lastLocation !== '' && isRealQuery;\n\nreturn [\n    {\n        payload: [],\n        topic: \"table\",\n        clear: true,\n        isEmpty: true,\n        shouldAlert: shouldAlert\n    },\n    { payload: [], topic: \"chart\", clear: true },\n    { payload: 0, topic: \"average\", clear: true },\n    { payload: { count: 0, displayCount: 0, locations: [] }, topic: \"stationInfo\", clear: true },\n    null\n];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 460,
        "wires": [
            [
                "a609bd7176dff6f7",
                "42d560113e971302"
            ],
            [
                "5fab2235455b4262"
            ],
            [
                "21405c52b21f8a4d"
            ],
            [
                "5a6910fea201e553"
            ],
            [
                "7befe20f16ca8965"
            ]
        ]
    },
    {
        "id": "321f7c65a287710a",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "waterLevelGroup",
        "name": "資料表格",
        "order": 14,
        "width": "11",
        "height": "11",
        "format": "<div style=\"padding: 15px;\">\n    <h4>{{getText('data_table_title').replace('{count}', msg.payload ? msg.payload.length : 0)}}</h4>\n    <div style=\"max-height: 400px; overflow-y: auto;\">\n        <table style=\"width: 100%; border-collapse: collapse; background: white;\">\n            <thead style=\"background: #007cba; color: white; position: sticky; top: 0;\">\n                <tr>\n                    <th style=\"padding: 10px; border: 1px solid #ddd; text-align: left;\">{{getText('time_column')}}</th>\n                    <th style=\"padding: 10px; border: 1px solid #ddd; text-align: left;\">{{getText('station_column')}}</th>\n                    <th style=\"padding: 10px; border: 1px solid #ddd; text-align: left;\">{{getText('install_place_column')}}</th>\n                    <th style=\"padding: 10px; border: 1px solid #ddd; text-align: left;\">{{getText('level_column')}}</th>\n                    <th style=\"padding: 10px; border: 1px solid #ddd; text-align: left;\">{{getText('status_column')}}</th>\n                </tr>\n            </thead>\n            <tbody>\n                <tr ng-repeat=\"item in msg.payload\" style=\"border-bottom: 1px solid #eee;\" ng-if=\"msg.payload && msg.payload.length > 0\">\n                    <td style=\"padding: 8px 10px; border: 1px solid #ddd;\">\n                        {{item.recorded_at | date:'MM-dd HH:mm:ss'}}\n                    </td>\n                    <td style=\"padding: 8px 10px; border: 1px solid #ddd;\">\n                        {{item.location}}\n                    </td>\n                    <td style=\"padding: 8px 10px; border: 1px solid #ddd;\">\n                        {{item.install_place}}\n                    </td>\n                    <td style=\"padding: 8px 10px; border: 1px solid #ddd; text-align: right;\">\n                        <strong>{{item.water_level | number:2}}</strong>\n                    </td>\n                <td style=\"padding: 8px 10px; border: 1px solid #ddd; white-space: nowrap;\">\n                    <span ng-style=\"{\n                        'display': 'inline-block',\n                        'padding': '4px 12px',\n                        'border-radius': '12px',\n                        'font-size': '12px',\n                        'font-weight': '500',\n                        'color': 'white',\n                        'background': getStatusColor(item.water_level_status),\n                        'min-width': '60px',\n                        'text-align': 'center',\n                        'white-space': 'nowrap'\n                    }\">\n                        {{getStatusText(item.water_level_status)}}\n                    </span>\n                </td>\n                </tr>\n                <tr ng-if=\"!msg.payload || msg.payload.length === 0\">\n                    <td colspan=\"5\" style=\"padding: 20px; text-align: center; color: #666;\">\n                        {{getText('no_data')}}\n                    </td>\n                </tr>\n            </tbody>\n        </table>\n    </div>\n</div>\n<script>\n(function(scope) {\n    // 獲取全局翻譯資源\n    const getGlobalTranslations = function() {\n        return {\n            \"en\": {\n                \"data_table_title\": \"Water Level Data ({count} records)\",\n                \"time_column\": \"Time\",\n                \"station_column\": \"Station\",\n                \"install_place_column\": \"Installation Place\",\n                \"level_column\": \"Water Level\",\n                \"status_column\": \"Status\",\n                \"normal\": \"Normal\",\n                \"warning\": \"Warning\",\n                \"danger\": \"Danger\",\n                \"unknown\": \"Unknown\",\n                \"no_data\": \"No data available\"\n            },\n            \"zh\": {\n                \"data_table_title\": \"水位數據表格 (共 {count} 筆數據)\",\n                \"time_column\": \"時間\",\n                \"station_column\": \"測站\",\n                \"install_place_column\": \"安裝位置\",\n                \"level_column\": \"水位值\",\n                \"status_column\": \"狀態\",\n                \"normal\": \"正常\",\n                \"warning\": \"警告\",\n                \"danger\": \"危險\",\n                \"unknown\": \"未知\",\n                \"no_data\": \"暫無數據\"\n            }\n        };\n    };\n    \n    // 初始化\n    scope.currentLanguage = 'zh';\n    const translations = getGlobalTranslations();\n    \n    // 獲取文本的函數\n    scope.getText = function(key) {\n        return translations[scope.currentLanguage][key] || key;\n    };\n    \n    // 定義狀態文字函數\n    scope.getStatusText = function(status) {\n        switch(status) {\n            case \"GREEN\": return scope.getText('normal');\n            case \"YELLOW\": return scope.getText('warning');\n            case \"RED\": return scope.getText('danger');\n            default: return scope.getText('unknown');\n        }\n    };\n    \n    // 定義狀態顏色函數\n    scope.getStatusColor = function(status) {\n        switch(status) {\n            case \"GREEN\": return '#28a745';\n            case \"YELLOW\": return '#ffc107';\n            case \"RED\": return '#dc3545';\n            default: return '#6c757d';\n        }\n    };\n    \n    // 監聽語言變化\n    scope.$watch('msg', function(msg) {\n        if (!msg) return;\n        \n        if (msg.topic === \"languageUpdate\" && msg.payload) {\n            scope.currentLanguage = msg.payload.language || 'zh';\n        }\n        \n        // 收到新數據時，直接更新\n        if (msg.topic === \"table\") {\n            scope.msg = msg;\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a609bd7176dff6f7",
        "type": "function",
        "z": "0c190d7037e7502d",
        "d": true,
        "name": "處理空數據提醒",
        "func": "// 添加詳細的除錯信息\nnode.warn('=== 空數據處理器被觸發 ===');\nnode.warn('msg.topic:', msg.topic);\nnode.warn('msg.isEmpty:', msg.isEmpty);\nnode.warn('msg.shouldAlert:', msg.shouldAlert);\n\n// 檢查是否為空數據且需要提醒\nif (msg.topic === \"table\" && msg.isEmpty === true) {\n    node.warn('檢測到空數據');\n    \n    // 獲取最後查詢的測站\n    const lastLocation = global.get('lastQueryLocation') || '';\n    node.warn('最後查詢的測站:', lastLocation);\n    \n    // 獲取當前語言\n    const language = global.get('currentLanguage') || 'zh';\n    node.warn('當前語言:', language);\n    \n    // 只有在有選擇特定測站（非空且非\"全部測站\"）的情況下才顯示提醒\n    if (lastLocation && lastLocation !== '') {\n        node.warn('符合提醒條件，準備發送 alert');\n        \n        // 準備 alert 提醒消息\n        let message = '';\n        if (language === 'zh') {\n            message = '⚠️ 測站「' + lastLocation + '」在選擇的時間範圍內沒有數據，建議點擊「更新測站列表」按鈕獲取最新數據！';\n        } else {\n            message = '⚠️ No data found for station \"' + lastLocation + '\" in the selected time range. Please click \"Refresh Station List\" button to get the latest data!';\n        }\n        \n        node.warn('alert 訊息:', message);\n        \n        // 準備 alert 提醒消息\n        const alertMsg = {\n            payload: message,\n            topic: \"showBrowserAlert\"\n        };\n        \n        node.warn('發送 alert 消息到 alertHandler');\n        \n        // 同時轉發原始數據和提醒消息\n        return [\n            msg,  // 原始數據給表格\n            alertMsg  // 提醒消息\n        ];\n    } else {\n        node.warn('沒有選擇特定測站，不顯示提醒');\n        return [msg, null];\n    }\n}\n\nnode.warn('不是空數據或不需提醒，直接轉發');\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 580,
        "wires": [
            [
                "7ec9d6347672d992"
            ],
            [
                "6674a6b8fd8e1972"
            ]
        ]
    },
    {
        "id": "6674a6b8fd8e1972",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "waterLevelGroup",
        "name": "Alert 處理器",
        "order": 1,
        "width": "10",
        "height": "1",
        "format": "<div style=\"display: none;\">Alert Handler</div>\n<script>\n(function(scope) {\n    console.log('Alert Handler 初始化');\n    \n    scope.$watch('msg', function(msg) {\n        console.log('Alert Handler 收到消息:', msg);\n        \n        if (!msg) {\n            console.log('消息為空');\n            return;\n        }\n        \n        console.log('消息 topic:', msg.topic);\n        console.log('消息 payload:', msg.payload);\n        \n        // 監聽瀏覽器 alert 事件\n        if (msg.topic === \"showBrowserAlert\" && msg.payload) {\n            console.log('✅ 觸發 alert，訊息:', msg.payload);\n            \n            // 使用 setTimeout 確保在 Angular 消化週期後執行\n            setTimeout(function() {\n                try {\n                    // 使用瀏覽器的 alert 彈出視窗\n                    alert(msg.payload);\n                    console.log('✅ alert 已顯示');\n                } catch (e) {\n                    console.error('alert 顯示失敗:', e);\n                }\n            }, 500);\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 450,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "42d560113e971302",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "處理空數據提醒",
        "func": "// 添加詳細的除錯信息\nnode.warn('=== 空數據處理器被觸發 ===');\n\n\n// 檢查是否為空數據且需要提醒\n// 注意：這裡只處理來自查詢結果的空數據，不處理測站選擇事件\nif (msg.topic === \"table\" && msg.isEmpty === true && msg.shouldAlert === true) {\n    node.warn('檢測到空數據且需要提醒');\n    \n    // 獲取最後查詢的測站\n    const lastLocation = global.get('lastQueryLocation') || '';\n\n    \n    // 獲取當前語言\n    const language = global.get('currentLanguage') || 'zh';\n   \n    \n    // 準備 alert 提醒消息\n    let message = '';\n    if (language === 'zh') {\n        message = '⚠️ 測站在選擇的時間範圍內沒有數據，建議點擊「更新測站列表」按鈕獲取最新數據！';\n    } else {\n        message = '⚠️ No data found for station in the selected time range. Please click \"Refresh Station List\" button to get the latest data!';\n    }\n    \n\n    \n    // 準備 alert 提醒消息\n    const alertMsg = {\n        payload: message,\n        topic: \"showBrowserAlert\"\n    };\n    \n    node.warn('發送 alert 消息到 alertHandler');\n    \n    // 同時轉發原始數據和提醒消息\n    return [\n        msg,  // 原始數據給表格\n        alertMsg  // 提醒消息\n    ];\n}\n\n// 檢查是否是測站選擇事件，如果是則不觸發提醒\nif (msg.topic === \"locationChange\") {\n    node.warn('測站選擇事件，不觸發提醒');\n    return [msg, null];\n}\n\nnode.warn('不是空數據或不需提醒，直接轉發');\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 720,
        "wires": [
            [
                "7ec9d6347672d992"
            ],
            [
                "6674a6b8fd8e1972"
            ]
        ]
    },
    {
        "id": "850cfc0b05100672",
        "type": "catch",
        "z": "0c190d7037e7502d",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 420,
        "y": 980,
        "wires": [
            [
                "728cbd16e0705f41"
            ]
        ]
    },
    {
        "id": "728cbd16e0705f41",
        "type": "link out",
        "z": "0c190d7037e7502d",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "25c89047a92dd57a"
        ],
        "x": 585,
        "y": 980,
        "wires": []
    },
    {
        "id": "9c12c7f38b4c354c",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "function (to AI)",
        "func": "var db_results = msg.payload; \nvar waterData = [];\nvar rainData = [];\n\n// 1. 分辨哪個是水位資料，哪個是雨量資料\nif (db_results[0] && db_results[0].length > 0 && db_results[0][0].water_level !== undefined) {\n    waterData = db_results[0];\n    rainData = db_results[1] || [];\n} else if (db_results[1] && db_results[1].length > 0 && db_results[1][0].water_level !== undefined) {\n    waterData = db_results[1];\n    rainData = db_results[0] || [];\n} else if (db_results[0] && db_results[0].length > 0 && db_results[0][0].rainfall_mm !== undefined) {\n    rainData = db_results[0];\n}\n\n// 🌟 核心攔截邏輯：檢查是否為「預設載入」或「全部測站」\n// (利用你原本寫在構建查詢節點中的 global 變數)\nvar lastLocation = global.get('lastQueryLocation') || '';\n\nif (lastLocation === '') {\n    // 條件達成：用戶沒有選擇特定測站\n    msg.payload = \"💡 請在上方表單選擇「特定測站」與「時間範圍」並點擊查詢，以啟用專屬的 AI 水浸風險趨勢分析。<br><br>Please select a specific station and time range to enable AI flood risk trend analysis.\";\n    \n    // return [輸出1, 輸出2]\n    // 我們讓輸出1為 null (不呼叫API)，把文字傳給輸出2 (直接顯示在 Dashboard)\n    return [null, msg]; \n}\n\n// 防呆機制：如果選擇了測站，但該時段完全沒有數據\nif (waterData.length === 0) {\n    msg.payload = \"⚠️ 該查詢條件下無水位數據可供分析。<br><br>No sensor data available for the selected parameters.\";\n    return [null, msg]; // 一樣走第二條路直接顯示\n}\n// 防呆機制：如果選擇了DEEPSEEK API, 但沒有DeepSeek API Key\nif (!env.get(\"DEEPSEEK_API\") || env.get(\"DEEPSEEK_API\") === 'None') {\n    msg.payload = \"⚠️ DeepSeek API Key Not found\";\n    return [null, msg]; // 一樣走第二條路直接顯示\n}\n\n// ============== 以下為正常呼叫 AI 的邏輯 (條件已滿足) ==============\n\n// 2. 數據濃縮 (Data Aggregation)：找出歷史極值與最新值\nvar latestWater = waterData[0]; \nvar maxWater = waterData[0];\nfor (var i = 0; i < waterData.length; i++) {\n    if (parseFloat(waterData[i].water_level) > parseFloat(maxWater.water_level)) {\n        maxWater = waterData[i];\n    }\n}\n\nvar latestRain = { rainfall_mm: 0 };\nvar maxRain = { rainfall_mm: 0 };\nif (rainData.length > 0) {\n    latestRain = rainData[rainData.length - 1]; \n    maxRain = rainData[0];\n    for (var j = 0; j < rainData.length; j++) {\n        if (parseFloat(rainData[j].rainfall_mm) > parseFloat(maxRain.rainfall_mm)) {\n            maxRain = rainData[j];\n        }\n    }\n}\n\n// ... (上面原本尋找最新值與最大值的程式碼保持不變) ...\n\n\n// 3. 組合數據\nvar sensor_data_text = \"【查詢站點：\" + latestWater.location + \" (\" + latestWater.install_place + \")】\\n\";\nsensor_data_text += \"▶ 查詢時段內最高水位：\" + maxWater.water_level + \"mm (發生於 \" + new Date(maxWater.recorded_at).toLocaleString() + \")\\n\";\nsensor_data_text += \"▶ 查詢時段內最新水位：\" + latestWater.water_level + \"mm (此站點黃色警戒：\" + latestWater.yellow_threshold + \"mm, 紅色警戒：\" + latestWater.red_threshold + \"mm)\\n\";\nsensor_data_text += \"▶ 時段內最高降雨量：\" + maxRain.rainfall_mm + \"mm\\n\";\nsensor_data_text += \"▶ 最新降雨量：\" + latestRain.rainfall_mm + \"mm\\n\\n\";\n\n// 4. 附上通行證 (⚠️ 請確保這裡貼上了你的 DeepSeek API Key)\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer \" + env.get(\"DEEPSEEK_API\")\n};\n\n// 5. 給 AI 的終極指令\nmsg.payload = {\n    \"model\": \"deepseek-chat\",\n    \"messages\": [\n        {\n            \"role\": \"system\", \n            \"content\": \"你是一個專業的物聯網防洪預警系統。請嚴格遵守以下排版與分析規則：\\n1. 絕對禁止使用任何 Markdown 符號（尤其是星號 * ）。\\n2. 根據提供的最高值與最新值，分析這段期間內的『水浸風險趨勢』。\\n3. 必須使用真實站點名稱。\\n4. 【排版鐵律】：針對該站點，必須先輸出一段完整的繁體中文分析，接著『必須立刻』加上網頁換行標籤 <br><br>，然後再輸出對應的英文分析。\\n5. 在整個站點報告的最尾端，再加一個 <br><br> 作為結束。\"\n        },\n        {\n            \"role\": \"user\", \n            \"content\": \"請根據以下查詢時段內濃縮的極值數據，生成趨勢分析報告。\\n\\n【必須嚴格遵守的輸出格式範例】：\\n沙田區城門河站的最高水位曾達到 400mm，但目前已下降至 150mm 的安全範圍。降雨量也維持在 0mm，整體水浸風險趨勢正在好轉，情況安全。<br><br>\\nThe peak water level at Shing Mun River Station in Sha Tin District reached 400mm, but has now decreased to a safe level of 150mm. With rainfall remaining at 0mm, the flood risk trend is improving and the situation is safe.<br><br>\\n\\n請立刻根據以下真實數據開始分析：\\n\" + sensor_data_text\n        }\n    ],\n    \"temperature\": 0.6 \n};\n\n// 走第一個輸出點 (將資料傳給 HTTP Request 呼叫 API)\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1160,
        "wires": [
            [
                "54a87089f1dac9f4"
            ],
            [
                "83daa7683d300b55"
            ]
        ]
    },
    {
        "id": "54a87089f1dac9f4",
        "type": "http request",
        "z": "0c190d7037e7502d",
        "name": "http request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.deepseek.com/chat/completions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1160,
        "wires": [
            [
                "78cfd2fb5b316bc6"
            ]
        ]
    },
    {
        "id": "165b719af40ceabd",
        "type": "debug",
        "z": "0c190d7037e7502d",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a76160552fe018ec",
        "type": "join",
        "z": "0c190d7037e7502d",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 190,
        "y": 1140,
        "wires": [
            [
                "9c12c7f38b4c354c"
            ]
        ]
    },
    {
        "id": "90c209719980cab6",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "45b15a5dbe0f2d2c",
        "name": "AI Analytics note",
        "order": 1,
        "width": "12",
        "height": "2",
        "format": "<div\n    style=\"margin-top: 12px; padding: 8px; background-color: #fff3e0; border-radius: 8px; font-size: 13px; color: #ff9800;\">\n    <i class=\"fa fa-info-circle\"></i> {{getText('AI_note')}}\n</div>\n<script>\n    (function(scope) {\n    // 獲取全局翻譯資源\n    const getGlobalTranslations = function() {\n        return {\n            \"en\": {\n                \"AI_note\": \"The AI analysis feature needs time to process the data. Please be patient. If it does not appear after ten seconds, please refresh the page.\"\n            },\n            \"zh\": {\n                \"AI_note\": \"AI分析功能需要時間分析數據，請耐心等待。如果十秒鐘後仍未顯示，請重新整理頁面。\"\n            }\n        };\n    };\n    // 初始化\n    scope.currentLanguage = 'zh';\n    const translations = getGlobalTranslations();\n    \n    // 獲取文本的函數\n    scope.getText = function(key) {\n    return translations[scope.currentLanguage][key] || key;\n    };\n    \n    // 監聽語言變化\n    scope.$watch('msg', function(msg) {\n    if (!msg) return;\n    \n    if (msg.topic === \"languageUpdate\" && msg.payload) {\n    scope.currentLanguage = msg.payload.language || 'zh';\n    console.log(\"圖表說明：語言更新為\", scope.currentLanguage);\n    }\n    });\n    })(scope);\n    </script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1010,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "83daa7683d300b55",
        "type": "ui_template",
        "z": "0c190d7037e7502d",
        "group": "45b15a5dbe0f2d2c",
        "name": "AI Display",
        "order": 2,
        "width": "11",
        "height": "13",
        "format": "<div>\n    <div style=\"text-align: center; font-size: 18px; margin-bottom: 15px;\">AI Warning System</div>\n\n    <div ng-bind-html=\"msg.payload\" class=\"ai-report-content\"></div>\n</div>\n\n<style>\n    /*1. AI 報告主文樣式*/\n    .ai-report-content {\n        font-size: 16px;\n        font-weight: bold;\n        \n        text-align: left;\n        \n        line-height: 1.6;\n    }\n\n    /* 2. 免責聲明樣式*/\n    .ai-disclaimer-text {\n        font-size: 13px !important;\n        color: #888888 !important;\n        font-weight: normal !important;\n        \n        text-align: left;\n        line-height: 1.5;\n    }\n\n    /* 3. 分隔線樣式 */\n    .ai-disclaimer-line {\n        border: 0;\n        border-top: 1px dashed #bbbbbb;\n        margin: 25px 0 15px 0;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "78cfd2fb5b316bc6",
        "type": "function",
        "z": "0c190d7037e7502d",
        "name": "function (AI>Word)",
        "func": "// 1. 拿出 AI 的回覆內容\nvar ai_reply = msg.payload.choices[0].message.content;\n\n// 2. 免責聲明\nvar disclaimer = \"<br>\"; \ndisclaimer += \"<hr class='ai-disclaimer-line'>\"; \ndisclaimer += \"<div class='ai-disclaimer-text'>\"; \ndisclaimer += \"<strong>⚠️ 免責聲明 (Disclaimer)：</strong><br>\";\ndisclaimer += \"本分析報告由生成式 AI 自動產生，僅供學術展示與參考之用。實際水浸風險與緊急應變措施，請務必以香港天文台或渠務署等官方機構發布之資訊為準。<br>\";\ndisclaimer += \"This analytical report is automatically generated by Generative AI and is for academic demonstration and reference purposes only. For actual flood risks and emergency response measures, please strictly refer to official announcements from the Hong Kong Observatory or the Drainage Services Department.\";\ndisclaimer += \"</div>\";\n\n// 3. 打包傳給 ui_template\nmsg.payload = ai_reply + disclaimer;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1160,
        "wires": [
            [
                "83daa7683d300b55",
                "165b719af40ceabd"
            ]
        ]
    },
    {
        "id": "7fc748c17576b2da",
        "type": "inject",
        "z": "077daf9d5d85158b",
        "name": "1_hour_loop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "iso",
        "payloadType": "date",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "1870863110a822d6"
            ]
        ]
    },
    {
        "id": "79ca8cc7854a9967",
        "type": "debug",
        "z": "077daf9d5d85158b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 340,
        "wires": []
    },
    {
        "id": "1870863110a822d6",
        "type": "http request",
        "z": "077daf9d5d85158b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://data.weather.gov.hk/weatherAPI/opendata/hourlyRainfall.php?lang=en",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "0e244f8568ea6611"
            ]
        ]
    },
    {
        "id": "0e244f8568ea6611",
        "type": "split",
        "z": "077daf9d5d85158b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "property": "payload",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "37a7eab7237a980a"
            ]
        ]
    },
    {
        "id": "37a7eab7237a980a",
        "type": "split",
        "z": "077daf9d5d85158b",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "property": "payload",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "4b28a8ad1df9aedc",
                "9c67ff33e288a2f8"
            ]
        ]
    },
    {
        "id": "4b28a8ad1df9aedc",
        "type": "debug",
        "z": "077daf9d5d85158b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 300,
        "wires": []
    },
    {
        "id": "9c67ff33e288a2f8",
        "type": "function",
        "z": "077daf9d5d85158b",
        "name": "Districts",
        "func": "// Node-RED function node to format data including correct timezone handling\nmsg.payload = msg.payload || {};\n\n// Initialize or retrieve current time for Receiver 1\nlet loopTime = 0;\nlet weatherStations = [\"Cheung Ching\", \"Happy Valley\", \"Hong Kong International Airport\",\n \"Hong Kong Observatory\", \"Kai Tak\", \"Kwun Tong\", \"Magazine Gap\", \"San Po Kong\", \"Sha Tin\", \n \"Sham Shui Po\", \"Shau Kei Wan\", \"Sheung Shui\", \"Shui Pin Wai\", \"Stanley\", \"Tai Po Market\",\n  \"Tseung Kwan O\", \"Tsuen Wan Ho Koon\", \"Tuen Mun\"];\nlet district_id = [2, 18, 1,\n  14, 10, 11, 15, 13, 5,\n  12, 16, 3, 9, 17, 6,\n  4, 7, 8]; \n\nlet district_name = [\"Kwai Tsing\", \"Tai Wan\", \"Islands\", \n  \"Yau Tsim Mong\", \"Kowloon City\",\"Kwun Tong\", \"Central and Western\", \"Wong Tai Sin\", \"Sha Tin\",\n  \"Sham Shui Po\", \"Eastern\", \"North\", \"Yuen Long\", \"Southern\", \"Tai Po\",\n  \"Sai Kung\", \"Tsuen Wan\", \"Yuen Long\"];\nlet rainfall = 0;\n\n\nfor(let i = 0; i <= 17; i++){\n    if (weatherStations[i] == msg.payload.automaticWeatherStation){\n\n      let currentTime = new Date().getTime();\n\n      // Get the current time and adjust for the time zone (e.g., UTC+8 for Hong Kong)\n      let timeZoneOffset = 8; // Hong Kong Time (HKT) UTC+8\n      let localTime = new Date(currentTime + timeZoneOffset * 3600 * 1000);\n\n      // Format the local time to MySQL compatible format (YYYY-MM-DD HH:MM:SS)\n      let formattedTime = localTime.toISOString().replace('T', ' ').slice(0, 19);\n\n      let district = district_id[i];\n      let rainfall = msg.payload.value;\n\n      if (msg.payload.value = \"M\") {\n           rainfall = 0;\n        } else {\n           rainfall = msg.payload.value;\n      }\n      \n\n\n      let sql = `INSERT INTO RainfallData (recorded_at, district_id, rainfall_mm) VALUES (?, ?, ?)`;\n      msg.topic = sql;\n      msg.payload = [formattedTime, district, rainfall];\n\n      return msg;\n    }else{\n      \n    }\n}\n\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 320,
        "wires": [
            [
                "fd28763c4cc2ff26"
            ]
        ]
    },
    {
        "id": "fd28763c4cc2ff26",
        "type": "mysql",
        "z": "077daf9d5d85158b",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 950,
        "y": 340,
        "wires": [
            [
                "79ca8cc7854a9967"
            ]
        ]
    },
    {
        "id": "3409dabff975f03e",
        "type": "catch",
        "z": "077daf9d5d85158b",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 520,
        "y": 420,
        "wires": [
            [
                "7ffa1ab943f9f1e8"
            ]
        ]
    },
    {
        "id": "7ffa1ab943f9f1e8",
        "type": "link out",
        "z": "077daf9d5d85158b",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "25c89047a92dd57a"
        ],
        "x": 685,
        "y": 420,
        "wires": []
    },
    {
        "id": "d580b4b3a274bca8",
        "type": "catch",
        "z": "a41a4b68706a5772",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 520,
        "wires": [
            [
                "280944682eba4b84"
            ]
        ]
    },
    {
        "id": "25c89047a92dd57a",
        "type": "link in",
        "z": "a41a4b68706a5772",
        "name": "link in 5",
        "links": [
            "39b1a7835b9b4d9e",
            "5835410639f5b74b",
            "7ffa1ab943f9f1e8",
            "ea130fd79b624b72",
            "80478961a3e9a555",
            "d8828f9a204c6b1d"
        ],
        "x": 195,
        "y": 600,
        "wires": [
            [
                "280944682eba4b84"
            ]
        ]
    },
    {
        "id": "08e1b0d02f8b0037",
        "type": "function",
        "z": "a41a4b68706a5772",
        "name": "Handle node-red errors",
        "func": "// 1. Maintain project-specific node_id (defaults to 0 if not present)\nmsg.node_id = 0;\nlet project_node_id = msg.node_id !== undefined ? msg.node_id : 0;\n\n// 2. Define the alert type\nmsg.alert_type = \"Node-red catch error.\";\n\n// 3. Extract Node-RED technical details from the Catch node\nlet errorMsg = msg.error ? msg.error.message : \"No error message\";\nlet sourceName = (msg.error && msg.error.source) ? msg.error.source.name : \"Unknown\";\nlet sourceId = (msg.error && msg.error.source) ? msg.error.source.id : \"Unknown ID\";\n\n\n// 4. Construct the comment with Node-RED info at the end\n// Format: [Type] description: [Error]. (Source: [Node Name] - [Node ID])\nlet comment = `${msg.alert_type} \\n ${errorMsg}.\\n (Node-RED Source: ${sourceName} - ${sourceId})\\n`;\n\n\nmsg.warning_1 = comment;\n// 5. Prepare SQL and Payload\nmsg.topic = \"INSERT INTO AlertRecords (node_id, alert_type, comment, recorded_at) VALUES (?, ?, ?, @ts := NOW()); SELECT @ts AS recorded_at;\";\nmsg.payload = [project_node_id, msg.alert_type, comment];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 600,
        "wires": [
            [
                "9fb00447bbe14167"
            ]
        ]
    },
    {
        "id": "3ec6e16dbac06738",
        "type": "link out",
        "z": "a41a4b68706a5772",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "af3355fff1205e1d"
        ],
        "x": 1765,
        "y": 640,
        "wires": []
    },
    {
        "id": "9fb00447bbe14167",
        "type": "mysql",
        "z": "a41a4b68706a5772",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 890,
        "y": 600,
        "wires": [
            [
                "84f0cda41ca5d419"
            ]
        ]
    },
    {
        "id": "8f1b78aad97222d4",
        "type": "inject",
        "z": "a41a4b68706a5772",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 720,
        "wires": [
            [
                "6398181e5b8aac80"
            ]
        ]
    },
    {
        "id": "6398181e5b8aac80",
        "type": "function",
        "z": "a41a4b68706a5772",
        "name": "testing_catch",
        "func": "// This triggers the Catch node and passes the current message object\nnode.error(\"This is a manual test error!\", msg);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "84f0cda41ca5d419",
        "type": "function",
        "z": "a41a4b68706a5772",
        "name": "Select email",
        "func": "msg.location = \"Node-red Server\";\nmsg.recorded_at = msg.payload[1][0].recorded_at;\nmsg.site_name = \"Node-red Server\";\nmsg.event_code = \" node_id(\" + msg.node_id + \") recorded_at(\" + msg.recorded_at + \").\";\n\nlet location_id = 0;\n\nmsg.topic = \"SELECT email,name FROM Contacts WHERE contact_id = (SELECT contact_id FROM MaintenanceGroupMembers WHERE maintenance_group_id  = (SELECT maintenance_group_id FROM NodeSubscriptions WHERE location_id = ?));\";\nmsg.payload = [location_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 600,
        "wires": [
            [
                "5c7391005c18903f"
            ]
        ]
    },
    {
        "id": "5c7391005c18903f",
        "type": "mysql",
        "z": "a41a4b68706a5772",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 1290,
        "y": 620,
        "wires": [
            [
                "3c9d3125e46c90d7"
            ]
        ]
    },
    {
        "id": "3c9d3125e46c90d7",
        "type": "split",
        "z": "a41a4b68706a5772",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1470,
        "y": 620,
        "wires": [
            [
                "3ec6e16dbac06738"
            ]
        ]
    },
    {
        "id": "280944682eba4b84",
        "type": "delay",
        "z": "a41a4b68706a5772",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 560,
        "wires": [
            [
                "08e1b0d02f8b0037"
            ]
        ]
    },
    {
        "id": "358ec313627f18b7",
        "type": "inject",
        "z": "7a5e148b0b1d595a",
        "name": "Check node 15 min",
        "props": [],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "e684a70ac15f2749",
                "8df1b18cd065022e"
            ]
        ]
    },
    {
        "id": "2043e03964a63b77",
        "type": "function",
        "z": "7a5e148b0b1d595a",
        "name": "Check alive",
        "func": "// 1. Get the last update string from the array\nlet lastUpdateStr = msg.payload.last_update;\nmsg.location_id = msg.payload.location_id;\n\n// 2. Pass note_id & install_place in the flow\nmsg.node_id = msg.payload.node_id;\nmsg.install_place = msg.payload.install_place;\n\n// 3. Create Date objects for both times\nlet lastUpdateDate = new Date(lastUpdateStr);\nlet now = new Date();\n\n// 4. Calculate the difference in milliseconds\nlet diffInMs = now - lastUpdateDate;\n\n\n// 5. Convert milliseconds to minutes\n// (1000ms * 60s = 60000)\n\nlet diffInMinutes = Math.floor(diffInMs / 60000);\nmsg.diffInMinutes = diffInMinutes;\nif (diffInMinutes > 15){\n    return msg;\n}\n\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 260,
        "wires": [
            [
                "1ebb97a5e95b1bc0"
            ]
        ]
    },
    {
        "id": "e684a70ac15f2749",
        "type": "function",
        "z": "7a5e148b0b1d595a",
        "d": true,
        "name": "SELECT node_id IN (3, 4)",
        "func": "\nmsg.topic = \"SELECT last_update,node_id,location_id,install_place FROM NodeInfo WHERE node_id IN (3, 4)\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 300,
        "wires": [
            [
                "a5d7a4463d32aa34"
            ]
        ]
    },
    {
        "id": "a5d7a4463d32aa34",
        "type": "mysql",
        "z": "7a5e148b0b1d595a",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "2b55c7b989d09277"
            ]
        ]
    },
    {
        "id": "8df1b18cd065022e",
        "type": "function",
        "z": "7a5e148b0b1d595a",
        "name": "SELECT last_update",
        "func": "\n\nmsg.topic = \"SELECT last_update,node_id,location_id,install_place FROM NodeInfo WHERE status = 'active'\";\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "a5d7a4463d32aa34"
            ]
        ]
    },
    {
        "id": "2b55c7b989d09277",
        "type": "split",
        "z": "7a5e148b0b1d595a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 810,
        "y": 260,
        "wires": [
            [
                "2043e03964a63b77"
            ]
        ]
    },
    {
        "id": "dfc61646518ddfcd",
        "type": "mysql",
        "z": "7a5e148b0b1d595a",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 890,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3252f3547f1e853d",
        "type": "function",
        "z": "7a5e148b0b1d595a",
        "name": "Set node status lost_contact",
        "func": "let node_id = msg.node_id ;\n\n\nmsg.topic = \"UPDATE NodeInfo SET status = 'lost_contact' WHERE node_id = ? \";\nmsg.payload = [node_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [
            [
                "dfc61646518ddfcd"
            ]
        ]
    },
    {
        "id": "1ebb97a5e95b1bc0",
        "type": "function",
        "z": "7a5e148b0b1d595a",
        "name": "lost_contact email",
        "func": "let location_id = msg.payload.location_id;\nmsg.location_id = msg.payload.location_id;\ndelete msg.diffInMinutes;\nmsg.alert_type = \"lost_contact\";\n\n\nmsg.topic = \"SELECT site_name FROM Locations WHERE location_id = ?; \";\nmsg.payload = [location_id];\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 500,
        "wires": [
            [
                "eca07fcbf2ea04a5"
            ]
        ]
    },
    {
        "id": "eca07fcbf2ea04a5",
        "type": "mysql",
        "z": "7a5e148b0b1d595a",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "7fc40ffa14199526"
            ]
        ]
    },
    {
        "id": "7fc40ffa14199526",
        "type": "function",
        "z": "7a5e148b0b1d595a",
        "name": "Insert error record",
        "func": "let node_id = msg.node_id;\nmsg.alert_type = \"lost_contact\";\nlet comment = \"lost_contact\";\nmsg.site_name = msg.payload[0].site_name;\n\nmsg.topic = \"INSERT INTO AlertRecords (node_id, alert_type, comment, recorded_at) VALUES (?, ?, ?, @ts := NOW()); SELECT @ts AS recorded_at;\";\nmsg.payload = [node_id,msg.alert_type,comment];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 520,
        "wires": [
            [
                "284565104d94cd24"
            ]
        ]
    },
    {
        "id": "284565104d94cd24",
        "type": "mysql",
        "z": "7a5e148b0b1d595a",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 750,
        "y": 520,
        "wires": [
            [
                "3252f3547f1e853d",
                "0aa727754e4f8b1b"
            ]
        ]
    },
    {
        "id": "0aa727754e4f8b1b",
        "type": "function",
        "z": "7a5e148b0b1d595a",
        "name": "Check Location",
        "func": "msg.recorded_at = msg.payload[1][0].recorded_at;\n\n\nmsg.topic = \"SELECT install_place FROM NodeInfo WHERE node_id  = ?; \";\nmsg.payload = [msg.node_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 520,
        "wires": [
            [
                "a7d97dc1c774b74b"
            ]
        ]
    },
    {
        "id": "a7d97dc1c774b74b",
        "type": "mysql",
        "z": "7a5e148b0b1d595a",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 1110,
        "y": 520,
        "wires": [
            [
                "7a5669371b3b2d3f",
                "2d0a8cb1ddd3cf7b",
                "44e6a1c0883d8311"
            ]
        ]
    },
    {
        "id": "7a5669371b3b2d3f",
        "type": "debug",
        "z": "7a5e148b0b1d595a",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 540,
        "wires": []
    },
    {
        "id": "9d9f3e3e88e71b03",
        "type": "mysql",
        "z": "7a5e148b0b1d595a",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 570,
        "y": 820,
        "wires": [
            [
                "e349b0ae4d7ff59b"
            ]
        ]
    },
    {
        "id": "2d0a8cb1ddd3cf7b",
        "type": "function",
        "z": "7a5e148b0b1d595a",
        "name": "Client lost_contact warning",
        "func": "let node_id = parseInt(msg.node_id);\nmsg.location = msg.payload[0].install_place;\n\nmsg.warning_1 = \"Please check the connection of site_name(\"+msg.site_name+\") node_id(\"+node_id+\")\\n\";\nmsg.event_code = \" node_id(\"+node_id+\") recorded_at(\"+msg.recorded_at+\").\";\n\n\n\n\n// 建立資料庫查詢\nmsg.topic = 'SELECT email,name FROM Contacts WHERE contact_id IN( SELECT contact_id FROM ClientGroupMembers WHERE client_group_id IN( SELECT client_group_id FROM NodeSubscriptions WHERE location_id = ( SELECT location_id FROM NodeInfo WHERE node_id = ? ) ) ) ';\nmsg.payload = [node_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 820,
        "wires": [
            [
                "9d9f3e3e88e71b03"
            ]
        ]
    },
    {
        "id": "44e6a1c0883d8311",
        "type": "function",
        "z": "7a5e148b0b1d595a",
        "name": "Maintenance lost_contact warning",
        "func": "let node_id = parseInt(msg.node_id);\nmsg.location = msg.payload[0].install_place;\n\nmsg.warning_1 = \"Please check the connection of site_name(\"+msg.site_name+\") node_id(\"+node_id+\")\\n\";\nmsg.event_code = \" node_id(\"+node_id+\") recorded_at(\"+msg.recorded_at+\").\";\n\n// 建立資料庫查詢\nmsg.topic = 'SELECT email,name FROM Contacts WHERE contact_id IN( SELECT contact_id FROM MaintenanceGroupMembers WHERE maintenance_group_id IN( SELECT maintenance_group_id FROM NodeSubscriptions WHERE location_id = ( SELECT location_id FROM NodeInfo WHERE node_id = ? ) ) ) ';\nmsg.payload = [node_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 880,
        "wires": [
            [
                "9d9f3e3e88e71b03"
            ]
        ]
    },
    {
        "id": "0cfce2d87fc80918",
        "type": "link out",
        "z": "7a5e148b0b1d595a",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "af3355fff1205e1d"
        ],
        "x": 985,
        "y": 840,
        "wires": []
    },
    {
        "id": "e349b0ae4d7ff59b",
        "type": "split",
        "z": "7a5e148b0b1d595a",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 790,
        "y": 840,
        "wires": [
            [
                "0cfce2d87fc80918",
                "7a5669371b3b2d3f"
            ]
        ]
    },
    {
        "id": "7a4153f1422fba79",
        "type": "catch",
        "z": "7a5e148b0b1d595a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "80478961a3e9a555"
            ]
        ]
    },
    {
        "id": "80478961a3e9a555",
        "type": "link out",
        "z": "7a5e148b0b1d595a",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "25c89047a92dd57a"
        ],
        "x": 435,
        "y": 160,
        "wires": []
    },
    {
        "id": "4d13a2f322a237f5",
        "type": "function",
        "z": "a56f4571d3757067",
        "name": "Check node status",
        "func": "//Check node status\nmsg.mqtt = {};\n\n\nmsg.water_level = msg.payload[3];\n\nif (msg.payload[3] =='RED'){\n    msg.water_status = 'level_RED';\n    return msg;\n} else if (msg.payload[3] == 'YELLOW'){\n    msg.water_status = 'level_YELLOW';\n    return msg;\n} else if (msg.payload[3] == 'GREEN') {\n    return null;\n} else {\n    node.error(\"Water level status is incorrect\", msg);\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "3bfab82e9cebd64d"
            ]
        ]
    },
    {
        "id": "3bfab82e9cebd64d",
        "type": "function",
        "z": "a56f4571d3757067",
        "name": "Set node status water high",
        "func": "let node_id = msg.node_id;\n\nmsg.topic = \"UPDATE NodeInfo SET status = ? WHERE node_id = ? \";\nmsg.payload = [msg.water_status,node_id];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "91b5cadf5392b649"
            ]
        ]
    },
    {
        "id": "91b5cadf5392b649",
        "type": "mysql",
        "z": "a56f4571d3757067",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 890,
        "y": 320,
        "wires": [
            [
                "b4c9fca45843750d",
                "b68a61d8e27905d2"
            ]
        ]
    },
    {
        "id": "b4c9fca45843750d",
        "type": "function",
        "z": "a56f4571d3757067",
        "name": "Setup error code",
        "func": "let node_id = msg.node_id;\nmsg.alert_type = msg.water_status;\nlet comment = \"Water level \" + msg.alert_type +\"\"+\"\";\n\nmsg.topic = \"INSERT INTO AlertRecords (node_id, alert_type, comment, recorded_at) VALUES (?, ?, ?, @ts := NOW()); SELECT @ts AS recorded_at;\";\nmsg.payload = [msg.node_id, msg.alert_type,comment];\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "4ad49d62dc2df8d3"
            ]
        ]
    },
    {
        "id": "4ad49d62dc2df8d3",
        "type": "mysql",
        "z": "a56f4571d3757067",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 1270,
        "y": 380,
        "wires": [
            [
                "b68a61d8e27905d2",
                "59f5e2ce98e21e16"
            ]
        ]
    },
    {
        "id": "b68a61d8e27905d2",
        "type": "debug",
        "z": "a56f4571d3757067",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 440,
        "wires": []
    },
    {
        "id": "a7a2ed20339e95da",
        "type": "link in",
        "z": "a56f4571d3757067",
        "name": "link in 4",
        "links": [
            "748dccaed33cbfd3"
        ],
        "x": 195,
        "y": 320,
        "wires": [
            [
                "4d13a2f322a237f5"
            ]
        ]
    },
    {
        "id": "59f5e2ce98e21e16",
        "type": "function",
        "z": "a56f4571d3757067",
        "name": "Find location",
        "func": "msg.recorded_at = msg.payload[1][0].recorded_at;\n\nmsg.topic = \"SELECT install_place FROM NodeInfo WHERE node_id  = ?; \";\nmsg.payload = [msg.node_id];\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 520,
        "wires": [
            [
                "58a59ba6b6777937"
            ]
        ]
    },
    {
        "id": "58a59ba6b6777937",
        "type": "mysql",
        "z": "a56f4571d3757067",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 450,
        "y": 520,
        "wires": [
            [
                "9de4ca076c9e5da8"
            ]
        ]
    },
    {
        "id": "9de4ca076c9e5da8",
        "type": "function",
        "z": "a56f4571d3757067",
        "name": "Set location",
        "func": "msg.location = msg.payload[0].install_place;\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 560,
        "wires": [
            [
                "d50c48907ef8b19c",
                "f915c14d53a11890"
            ]
        ]
    },
    {
        "id": "d50c48907ef8b19c",
        "type": "function",
        "z": "a56f4571d3757067",
        "name": "Client water_status warning",
        "func": "var location = msg.site_name;\n\nmsg.warning_1 = msg.site_name + \" Water Level Status is \" + msg.water_status +\", Pay Attention!!\\n\";\nmsg.event_code = \" node_id(\"+msg.node_id+\") recorded_at(\"+msg.recorded_at+\").\";\n\nmsg.topic = \"SELECT email,name FROM Contacts WHERE contact_id = (SELECT contact_id FROM ClientGroupMembers WHERE client_group_id = (SELECT client_group_id FROM NodeSubscriptions WHERE location_id = (SELECT location_id FROM Locations WHERE site_name = ?)));\";\nmsg.payload = [location];\n\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 540,
        "wires": [
            [
                "0781d227ce4069ea"
            ]
        ]
    },
    {
        "id": "f915c14d53a11890",
        "type": "function",
        "z": "a56f4571d3757067",
        "name": "Maintenance water_status warning",
        "func": "var location = msg.site_name;\n\nmsg.warning_1 = msg.site_name + \" Water Level Status is \" + msg.water_status +\", Pay Attention!!\\n\";\nmsg.event_code = \" node_id(\"+msg.node_id+\") recorded_at(\"+msg.recorded_at+\").\";\nmsg.topic = \"SELECT email,name FROM Contacts WHERE contact_id = (SELECT contact_id FROM MaintenanceGroupMembers WHERE maintenance_group_id  = (SELECT maintenance_group_id FROM NodeSubscriptions WHERE location_id = (SELECT location_id FROM Locations WHERE site_name = ?)));\";\nmsg.payload = [location];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 620,
        "wires": [
            [
                "0781d227ce4069ea"
            ]
        ]
    },
    {
        "id": "0781d227ce4069ea",
        "type": "mysql",
        "z": "a56f4571d3757067",
        "mydb": "3d2055bfaa1fe649",
        "name": "WaterLevel",
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "9140d59dcb040f32"
            ]
        ]
    },
    {
        "id": "9140d59dcb040f32",
        "type": "split",
        "z": "a56f4571d3757067",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 1290,
        "y": 660,
        "wires": [
            [
                "261cfeb33b150684"
            ]
        ]
    },
    {
        "id": "261cfeb33b150684",
        "type": "link out",
        "z": "a56f4571d3757067",
        "name": "link out 2",
        "mode": "link",
        "links": [],
        "x": 1465,
        "y": 660,
        "wires": []
    },
    {
        "id": "af5ca607946ab937",
        "type": "catch",
        "z": "a56f4571d3757067",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "d8828f9a204c6b1d"
            ]
        ]
    },
    {
        "id": "d8828f9a204c6b1d",
        "type": "link out",
        "z": "a56f4571d3757067",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "25c89047a92dd57a"
        ],
        "x": 465,
        "y": 100,
        "wires": []
    }
]